<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404 | AdoptOpenJDK - Open source, prebuilt OpenJDK binaries</title>
  <link rel="shortcut icon" href="./dist/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./dist/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

  <style>
    /**** RESPONSIVE MASTER SETTINGS ****/
    html {
        font: 16px sans-serif;
        font-weight: 300;
        background-color: #F5F5F5;
        color: #152935;
    }

    h1, h2, h3, h4, button, input, optgroup, select, textarea {
      font-family: sans-serif;
      font-weight: 300;
    }

    p {
      line-height: 1.8rem;
    }

    @media all and (max-width: 800px) {
        html {
            font-size: 15px;
        }
    }

    @media all and (max-width: 500px) {
        html {
            font-size: 14px;
        }
    }

    /**** MAIN CSS ****/

    main {
      margin: 4rem;
    }

    #container {
      text-align: center;
      background-color: white;
      padding: 3rem;
    }

    #adopt-logo {
      width: 12rem;
      max-width: 100%;
      margin-top: 1rem;
    }

    h1 {
      font-size: 4rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
    }

    a, a:visited {
      color: #3D70B2;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }


    /**** RESPONSIVE ****/
    @media all and (max-width: 600px) {
        h1 {
          font-size: 3rem;
        }

        main {
          margin: 1rem;
        }

        #container {
          padding: 2rem;
        }
    }
  </style>
</head>

<body>
  <main>
    <div id="container">
      <img id="adopt-logo" src="./dist/assets/adoptopenjdk-dark.png" alt="AdoptOpenJDK logo">
      <h1>404</h1>
      <h3>Sorry, we can't find that page!</h3>
      <h3><a href="https://github.com/AdoptOpenJDK/openjdk-website/issues">Raise an issue on GitHub</a> to let us know.</h3>
    </div>
  </main>
</body>

</html>
