{{> header title='About - AdoptOpenJDK' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
  <main class="grey-bg about">

    <h1 class="margin-bottom large-title">About</h1>

    <div id="support-container" class="blue-link-section">

      <!-- TODO this might be renamed to GetOpenJDK to avoid confusion -->
      <div class="margin-bottom">
        <h2 class="bold">About AdoptOpenJDK - GetOpenJDK</h2>
        <p>
          This initiative came about following a discussion about the general lack of an open and reproducible build & test system
          for the OpenJDK source across multiple platforms.
        </p>

        <p>
          The intention is to provide binaries and hardware access for all of the major platforms, for the purposes of:
          <ul>
            <li>Allowing end users to have a reliable source of OpenJDK binaries for all platforms.</li>
            <li>Research and Development by OpenJDK developers, academics and researchers.</li>
            <li>An open, common, audited, build infrastructure for vendors to use (if they wish).</li>
            <li>Providing a place to try out build infrastructure ideas that might one day be re-implemented in the <a href="http://openjdk.java.net">OpenJDK</a> project.</li>
          </ul>
        </p>
      </div>

      <div>
        <h2 class="bold">About the AdoptOpenJDK Community</h2>
        <p>
          <a href="https://java.net/projects/adoptopenjdk/">AdoptOpenJDK</a> is a community of Java user group members, Java developers and vendors who are
          advocates of <a href="http://openjdk.java.net">OpenJDK</a>, the open source project which forms the basis of the Java programming language and
          platform.
        </p>
        <p>
          Part of the group's activities occur at the <a href="http://openjdk.java.net/groups/adoption/">Adoption Group</a> on the <a href="http://openjdk.java.net">OpenJDK</a> project.
        </p>
      </div>

      <div class="margin-bottom">
        <h2 class="bold">License(s)</h2>
        <p>
          Build scripts and other code to product the binaries, the website and other build infrastructure are licensed under
          <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
          OpenJDK code itself is licensed under <a href="http://openjdk.java.net/legal/gplv2+ce.html">GPL v2 with Classpath Exception</a>.
        </p>
      </div>

    </div>

    <div style="margin-top: 3rem;">
      <a href="http://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links dark-link">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links dark-link">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>

  </main>

{{> footer }}
