{{> header title='About | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
  <main class="grey-bg about">

  	<h1 class="large-title">About</h1>

	<p>The mission of the Eclipse Adoptium Top-Level Project is to produce high-quality runtimes and associated technology for use within the Java ecosystem. &nbsp;We achieve this through a set of Projects under the Adoptium PMC and a close working partnership with external projects, most notably OpenJDK for providing the Java SE runtime implementation. &nbsp;Our goal is to meet the needs of both the Eclipse community and broader runtime users by providing a comprehensive set of technologies around runtimes for Java applications that operate alongside existing standards, infrastructures, and cloud platforms.</p>

	<p>The <a href="https://adoptopenjdk.net">AdoptOpenJDK</a> project was established in 2017 following years of discussions about the general lack of an open and reproducible build and test system for OpenJDK source across multiple platforms. &nbsp;Since then it has grown to become a leading provider of high-quality OpenJDK-based binaries used by enterprises in embedded systems, desktops, traditional servers, modern cloud platforms, and large mainframes. &nbsp;The Eclipse Adoptium project is the continuation of the original AdoptOpenJDK mission.</p>

	<h2 class="large-title">Scope</h2>

	<p>Eclipse Adoptium provides runtime binaries that are high performance, enterprise-caliber, cross-platform, open-source licensed, Java SE TCK-tested and compliant for general use across the Java ecosystem. &nbsp;Eclipse Adoptium also provides artifacts including open-source infrastructure as code, a comprehensive continuous integration build and test farm, and extensive quality assurance tests. These artifacts may be used by Eclipse Adoptium projects and other runtime technology builders to ensure the provision of secure, Java SE TCK-tested and compliant, production-ready runtimes.</p>

	<p>The scope of the project includes developing, managing, promoting, and supporting technologies such as:</p>

	<ul>
		<li>Runtimes and Development Kits: supporting the breadth of APIs specified by various versions of Java SE, and available on a wide variety of processor architecture and operating system combinations.</li>
		<li>TCK Testing Infrastructure: providing infrastructure for running Java SE TCKs to ensure compliance and compatibility.</li>
		<li>JDK Mission Control: low-overhead profiling and diagnostics tools suite for the JVM.</li>
		<li>Installers and repositories: various mechanisms for obtaining and managing the installation of runtime technology, such as platform native installers, container images, download servers, a website, and artifact repositories.</li>
	</ul>

	<p>In addition to providing a reliable source of contemporary Java runtime binaries, the Eclipse Adoptium project is a platform for experimentation by developers, academics, and researchers. &nbsp;This provides a place to try out new runtime, build, test, and infrastructure ideas. &nbsp;Examples of projects that fall under this top-level project include “jlink.online” for serving right-sized runtimes to application developers, “Github actions” to obtain and test with runtimes within Git’s workflow, “TKG” the test-kit generation framework, “Bumblebench” the microbenchmarking framework, and more.</p>

  </main>

{{> footer }}
