{{> header title='About | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
  <main class="grey-bg about">

    <h1 class="margin-bottom large-title">About</h1>

    <div id="support-container" class="blue-link-section">

      <div class="margin-bottom">
        <h2 class="bold">Background</h2>
        <p>
          AdoptOpenJDK.net started in 2017 following years of discussions about
          the general lack of an open and reproducible build & test system for
          OpenJDK source across multiple platforms.
        </p>

        <p>
          AdoptOpenJDK provides rock-solid OpenJDK binaries for the
          Java ecosystem and also provides <a target="_blank" href="https://www.github.com/AdoptOpenJDK">infrastructure as code</a>,
          and a <a href="https://ci.adoptopenjdk.net">Build farm</a> for builders of OpenJDK, on any platform.
        </p>
      </div>

      <div class="margin-bottom">
        <div class="callout">
        <h2 class="bold">Our Mission</h2>

          <ol>
            <li>Provide a reliable source of OpenJDK binaries for all platforms, for the long term future!</li>
            <li>Enable R&amp;D by OpenJDK developers, academics and researchers.</li>
            <li>Provide an open, common, audited, build infrastructure for vendors to use (if they wish).</li>
            <li>Provide a place to try out build and test infrastructure ideas that could be co-opted / re-implemented in OpenJDK.</li>
          </ol>
        </p>
        </div>
      </div>

      <div class="margin-bottom">
        <h2 class="bold">Who's behind the AdoptOpenJDK.net Community?</h2>
        <p>
          <a href="https://community.oracle.com/community/java/jcp/adopt-openjdk">AdoptOpenJDK</a> is a
          community of Java User Group (JUG) members, Java developers and vendors (including GoDaddy, IBM, jClarity, Microsoft, Pivotal and Red Hat)
          who are advocates of <a target="_blank" href="https://openjdk.java.net">OpenJDK</a>, the open source
          project which forms the basis of the Java programming language and
          platform. The group also has other activities which you can discover in
          the <a href="https://openjdk.java.net/groups/adoption/">Adoption Group</a>
          at <a target="_blank" href="https://openjdk.java.net">OpenJDK</a>.
        </p>
        <p>
          See our <a href="./sponsors.html">Sponsors</a> page for a subset of the vendors that are involved.
        </p>
      </div>

      <div class="margin-bottom">
        <h2 class="bold">License(s)</h2>
          <p>
          <ul>
            <li>Build scripts and other code to produce the binaries, the website and other build infrastructure are licensed under
              <a target="_blank" href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.</li>
            <li>OpenJDK code itself is licensed under <a target="_blank" href="https://openjdk.java.net/legal/gplv2+ce.html">GPL v2 with Classpath Exception</a>.</li>
            <li>Eclipse OpenJ9 is licensed under <a target="_blank" href="https://github.com/eclipse/openj9/blob/master/LICENSE">Several licenses</a>.</li>
          </ul>
        </p>
      </div>

      <div class="margin-bottom">
        <h2 class="bold">Support</h2>
        <p>
          There are both community and commercial support available for AdoptOpenJDK binaries, see our <a href="./support.html">Support Page</a> for details.
        </p>
      </div>

    </div>

    <div style="margin-top: 3rem;">
      <!--
      <a target="_blank" href="https://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links dark-link">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      -->
      <a target="_blank" href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links dark-link">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>

  </main>

{{> footer }}
