{{> header title='Archive | ' style1='<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.css">' }}

<main class="grey-bg">

  <div id="archives-page">
    <h1 class="large-title">Archive</h1>
    <a href="./releases.html" id="latest-button" class="blue-button a-button">
      <div>
        <span>Latest build</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>
    <a href="./nightly.html" id="nightly-button" class="grey-button a-button">
      <div>
        <span>Nightly builds</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>

    <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>

    <div id="archive-list" class="hide">
      <div id="pagination-container"></div>
      <table class='archive-container'>
        <tbody id='archive-table-body'></tbody>
      </table>
    </div>

  </div>

  <div id="error-container"></div>
</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.js"></script>' script2='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.min.js"></script>' script3='<script>onArchiveLoad();</script>' }}
