{{> header title='Archive - AdoptOpenJDK' }}

<main class="grey-bg">

  <div id="archives-page">
    <h1 class="large-title">Archive</h1>
    <a href="./releases.html" id="latest-button" class="blue-button a-button">
      <div>
        <span>See the latest release</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>
    <a href="./nightly.html" id="nightly-button" class="grey-button a-button">
      <div>
        <span>See the nightly builds</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>

    <div id="archive-loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>

    <div id="filter-container" class="hide">
      <h3 class="inline-block" style="margin: 2rem .5rem 1rem 0;">Filter by platform:</h3>
      <select id="platform-dropdown">
        <option value="ALL">All</option>
      </select>
    </div>

    <div id="archive-list" class="hide">
      <table class='archive-container'>
        <tbody id='archive-table-body'></tbody>
      </table>
    </div>

  </div>

  <div id="error-container"></div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.js"></script>' script2='<script>onArchiveLoad();</script>' }}
