<!-- This is where you can add banners to the website -->
  <!--
  <div class="alert align-center">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>4th Oct 2018:</strong>&nbsp;&nbsp; AdoptOpenJDK <strong>Java 11</strong> has been released!&nbsp;&nbsp; AdoptOpenJDK <strong>Java 1.8.0_181</strong> is coming soon.
  </div>
  -->
