{{> header title='FAQ | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">AdoptOpenJDK Frequently Asked Questions</h1>

  <div class="align-left faq">

    <div class="anchor">
      <a href="#installers" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="installers">Installers</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        As well as basic tar/zip files that can be extracted onto your filesystem and installers from
        the main download pages, AdoptOpenJDK also provides
        <a href="https://adoptopenjdk.net/installation.html#installers">package repositories</a> for various
        platforms. In addition to that various third-party package managers have support for installing
        AdoptOpenJDK packages:

        <UL> 
        <LI> <strong><a href="https://formulae.brew.sh/cask/adoptopenjdk">macOS brew</a></strong>
             - Use <tt>brew cask install adoptopenjdk</tt> - maintained by the AdoptOpenJDK community at the
             <a href="https://github.com/AdoptOpenJDK/homebrew-openjdk">openjdk-homebrew</a> repository.
        <LI> <strong><a href="https://sdkman.io/jdks">sdkman</a></strong> - <tt>sdk install java x.y.z-adpt</tt>
        <LI> <strong><a href="https://blog.io7m.com/2018/11/18/choosing-coffee.xhtml">coffeepick</a></strong> (via iojm)</strong>
        <LI> <strong><a href="https://ortussolutions.atlassian.net/browse/COMMANDBOX-911">commandBox</a></strong> - <tt>install java:openjdk8</tt>
        <LI> <strong><a href="https://chocolatey.org/packages/adoptopenjdk/">chocolatey</a></strong> - <tt>choco install adoptopenjdk</tt>
        </UL>
      </p>
    </div>

    <div class="anchor">
      <a href="#projects" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="projects">Projects outside OpenJDK</a></h2>
    </div>

    <div class="margin-bottom">
    <p>We often get asked questions about java-related technologies that are not necessarily part of the base
    openjdk codebase. As a rule we build what is in the upstream openjdk source and nothing more as part of
    our deliverables (with the exception of IcedTea-WEB which is included in our macOS and Windows installers
    - although not the tar/zip downloads). Some more information on these componenst are included in the
    <a href="https://adoptopenjdk.net/migration.html">AdoptOpenJDK migration guide</a> but here are some
    common questions about the third party components:</p>

    <div class="anchor">
      <a href="#projects" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="projects">How do I get the source code for a release?</a></h2>
    </div>

    The answer to this depends on which version you are interested in.
    First, identify the major java release which will be the first number after
    <code>jdk</code> in the release name. For example for
    <code>jdk8u232-b09</code> the release is <code>8</code> or for
    <code>jdk-11.0.5+10</code> it is <code>11</code>

    <DL> 
    <DT> HotSpot
    <DD> Checkout the HotSpot codebase for the version
         e.g. https://github.com/adoptopenjdk/openjdk-jdk8u (replace 8 with
         11 or whatever mmajor release you are interested in). Once you've done
         that. change into the directory and checkout the release name with
         an <code>_adopt</code> suffix
         e.g. <code>git checkout jdk8u232-b09_adopt</code>. See
         <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues/1107#issuecomment-509272743">
         this issue for an explanation as to where that tag comes from.
    <DT> OpenJ9
    <DD> Checkout the OpenJ9 "extensions" repository for the release you are
         interested in e.g. https://github.com/ibmruntimes/openj9-openjdk-jdk8u
         (Replace <code>8</code> with the major java version you are
         interested in. Now, identify the openj9 branch you are interested
         in. For example, for either <code>jdk8u222-b10_openj9-0.15.1</code> or
         <code>jdk-11.0.4+11_openj9-0.15.1</code> it would be
         <code>openj9-0.15.1</code>. Then you can checkout that branch of
         the extensions repository e.g. <code>git checkout openj9-0.15.1</code>
         Note that the checkout does NOT contain the underlying java version
         in the OpenJ9 case. Once you've done this, change into the
         directory and run <code>./get_source.sh</code> which pulls in the
         correct dependencies for that release from the
         <a href="https://github.com/eclipse/openj9">OpenJ9</a> and
         <a href="https://github.com/eclipse/openj9-omr">OMR</a>
         repositories
    </DL>

<div class="margin-bottom">
    <p>We often get asked questions about java-related technologies that are not necessarily part of the base
    openjdk codebase. As a rule we build what is in the upstream openjdk source and nothing more as part of
    our deliverables (with the exception of IcedTea-WEB which is included in our macOS and Windows installers
    - although not the tar/zip downloads). Some more information on these componenst are included in the
    <a href="https://adoptopenjdk.net/migration.html">AdoptOpenJDK migration guide</a> but here are some
    common questions about the third party components:</p>

    <DL>
    <DT> <strong>IcedTea-WEB (WebStart support)</strong>
    <DD> IcedTea-WEB is the open implementation of the java web start component that was included in the
         Oracle JDK but is not part of the openjdk codebase. The IcedTea-WEB project is now hosted under
         the adoptopenjdk project in the <a href="https://github.com/adoptopenjdk/IcedTea-WEB">IcedTea-WEB
         repository</a> and we build and ship as a standalone download that can be used with our openjdk
         downloads. We do not include support for java applets as they are generally considered insecure
         and most modern browsers do not allow for such plugins to be installed any more.
    <DT> <strong>JavaFX</strong>
    <DD> Like IcedTea-WEB JavaFX was included in the Oracle JDK but is not part of the openjdk codebase.
         The open source project page is at <a href="https://openjfx.io/"> and binaries can be obtained from
         <a href="https://gluonhq.com/products/javafx/">Gluon</a>. We do not currently ship any JavaFX
         support via AdoptOpenJDK. If you want to build it yourself, check out the instructions from the
         <a href="https://wiki.openjdk.java.net/display/OpenJFX/Building+OpenJFX">OpenJFX project</a>
    <DT> <strong>GraalVM</strong>
    <DD> While the community edition of Graal is available for all to build, we do not currently have an
         offering for this. Some experimental builds have been done by the team on
         <a href="https://ci.adoptopenjdk.net/search/?q=jdk8-with-graal_build_x86-64_linux">Linux/x64</a>,
         <a href="https://ci.adoptopenjdk.net/search/?q=jdk8-with-graal_build_x86-64_macos">macOS</a> and
         <a href="https://ci.adoptopenjdk.net/search/?q=jdk8-with-graal_build_x86-64_windows">Windows</a>
         although they are not currently being actively maintained
    </DL>    
    </div>

    <div class="anchor">
      <a href="#projects" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="projects">Something does work with your builds - help!</a></h2>
    </div>

    <div class="margin-bottom">
    
    <p>If you are an end-user of our builds, we would first recommend trying it
    with the latest version of the release (i.e. the latest JDK8, JDK11 etc.)
    as bugs are frequently fixed in the updates. If the problem still occurs
    with the latest one, check to see if it works with another providers'
    builds (Such as Oracle's if you can) or the
    <a href="https://adoptopenjdk.net/upstream.html">upstream OpenJDK builds</a>
    available via our web site.</p>

    <p>Once you've done that, feel free to raise an issue in the
    <a href="https://github.com/AdoptOpenJDK/openjdk-support">openjdk-support</a>
    repository to bring it to our attention and we will attempt to look into
    it if possible and determine the cause. Bear in mind that the
    AdoptOpenJDK team do not provide commercial support for our builds,
    although <a href="https://adoptopenjdk.net/support.html">other providers do</a>.
    </p>
 
    <div class="anchor">
      <a href="#licensing" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="licensing">Licensing and redistribution</a></h2>
    </div>

    <div class="margin-bottom">
    The AdoptOpenJDK binaries are supplied with no restrictions on what you can do with them. We fully
    support the notion that
    <a href="https://docs.google.com/document/d/1nFGazvrCvHMZJgFstlbzoHjpAVwv5DEdnaBr_5pKuHo/edit#heading=h.p3qt2oh5eczi">Java Is Still Free</a>
    (<a href="https://medium.com/@javachampions/java-is-still-free-c02aef8c9e04">medium link</a>)
    However bear in mind that the binaries (i.e. the combined works) are published under the GPLv2 with
    Classpath exception (often referred to as GPL2+CE) and you don’t have any obligations imposed by
    this project beyond the terms of that license, so we have no additional requirement to reference /
    credit the OpenJDK or AdoptOpenJDK projects if you do not wish to do so (although it would be
    appreciated!) It's also worth mentioning the assembly exceptions, where parts of the program are
    licensed under different terms (such as ALv2) where there is a need to distribute notices. This
    message, however, does not contain professional legal advice and if you have any concerns you should
    consult your legal team before proceeding.
    </div>

    <div class="anchor">
      <a href="#quickfaq" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="quickfaq">Quick-fire FAQ</a></h2>
    </div>

    <div class="margin-bottom">
    Now that the trickier questions are out of the way, here are the rest of the things we get
    regularly asked:

    <DL>
    <DT> <strong>Why do my fonts look weird?</strong>
    <DD> Some commercial implementations of java use
         <a href="https://adoptopenjdk.net/migration.html#relicensed-lucida-fonts">relicensed Lucinda fonts</a>
         but adoptopenjdk as a fully open implementation does not. For this reason you may find some visible
         font differences between AdoptOpenJDK and other providers.
    <DT> <strong> Something in the GUI isn't rendering properly with AdoptOpenJDK but it does with other providers!</strong>
    <DD> For JDK8, Oracle's JDK used a renderer called Ductus. For JDK9 and above Oracle's JDK and openjdk (and
         therefore adoptopenjdk) use the Marlin renderer. For JDK8, adoptopenjdk is using the an open-source
         renderer called Pisces. This may result in differences between AdoptOpenJDK and Oracle when running
         JDK8. Work is planned to switch to using Marlin for JDK8
    <DT> <strong>Can I get JDK Mission Control (JMC) for AdoptOpenJDK?</strong>
    <DD> Yes! We provde downloads of <a href="https://adoptopenjdk.net/jmc.html">JMC</a> which are built through
         <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/">our CI</a>
    <DT> <strong>What is the difference between HotSpot and OpenJ9 downloads?</strong>
    <DD> HotSpot is the default Java Virtual Machine that is included in the OpenJDK codebase. OpenJ9 is an
         alternative Java Virtual Machine developed by IBM for their own proprietory JVM and was open-sourced in
         2017. You may find that OpenJ9 uses less memory than the HotSpot variants. Have a look at the
         <a href="https://www.eclipse.org/openj9/oj9_faq.html">OpenJ9 FAQ</a> or the
         <a href="https://www.eclipse.org/openj9/docs/cmdline_migration/">transition document</a> for more information
    <DT> <strong> What are the OpenJ9 "Large Heap" variants?</strong>
    <DD> The Large Heap variants of the OpenJ9 builds (also known as the "non-compressed references builds) allow
         for java heap sizes greater than 57Gb. If you need heap sizes that large, then pick the large heap versions
         (they have XL in the download filenames). The large heap versions are not on all platforms but the number
         have increased over time.
    <DT> <strong>I'm worried about security vulnerabilities in your project compared to other openjdk implementations</strong>
    <DD> the AdoptOpenJDK project does not work on security vulnerability updates independently of the community
         code base held at OpenJDK. For bugs including security issues, we work with the OpenJDK project to fix
         bugs there, and then build, test and distribute the code here. The OpenJDK LTS updates projects are
         working on vulnerabilities that are discussed amongst members of the OpenJDK Vulnerability Group.
         Patches to fix those vulnerabilities are applied to the appropriate OpenJDK repository ‘upstream’, and
         then we build, test and distribute the resulting binaries at AdoptOpenJDK. We do not compete with openjdk,
         we work together with them and address security vulnerabilities together.
    <DT> <strong>What are the CPU and PSU updates and which do you build?</strong>
    <DD> AdoptOpenJDK ships binaries based on the PSU (Patch Set Update) release for the quarterly updates. This
         contains additional fixes from the CPU (Critical Patch Update) and due to the very high levels of testing
         which the AdoptOpenJDK projects runs on our release builds we are confident enough that the additional
         fixes in the PSU updates will not cause any problems.
    <DT> <strong>How can I get commercial support for AdoptOpenJDK binaries</strong>
    <DD> The AdoptOpenJDK project does not itself provide commercial support for the binaries we produce,
         however if you find and issue please raise it in the
         <a href="https://github.com/AdoptOpenJDK/openjdk-support">openjdk-support</a> respository. If you need
         a stronger level of formal support, check out <a href="https://adoptopenjdk.net/support.html">the support
         pages</a> for the current list of commercial support providers for the AdoptOpenJDK binaries
    <DT> <strong>Do you provide 32-bit builds?</strong>
    <DD> Most of our builds are 64-bit only. The exceptions are arm32 so you can run our builds on your raspberry
         pi and other such devices, and HotSpot windows builds are aos available in 32-bit versions. A Windows
         32-bit version is also available for OpenJ9 but only for JDK8. We have had requests for
         <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues/986">32-bit Linux/x86</a> but they are not
         available in our build farm at the moment.
    <DT> <strong>I want to contribute to the project but I'm lost - where do I start?</strong>
    <DD> Glad you asked - please do! An initial overview can be found in the readme in the
         <a href="https://github.com/AdoptOpenJDK/TSC/">TSC repository</a>. Also we suggest joining the
         <a href="https://adoptopenjdk.net/slack.html">Slack channels</a> as a lot of the discussion happens in
         those as well as github issues
    <DT> <strong>So what is the TSC?</strong>
    <DD> They are our overlords :-) Seriously, the TSC (Technical Steering Committee) is a group of people who
         run the AdoptOpenJDK project. Despite the name, most technical decisions are taken outside the TSC and
         only escalated to the TSC if issues arise. You will find that they are frequently the people responding
         to issues in github and also in slack. Business decisions, the scope of the project, and management of
         finances is all done by the TSC. If you want something discussed by the TSC or need a decision from them
         please raise an issue in the <a href="https://github.com/AdoptOpenJDK/TSC</a>github TSC</a>repository (or
         add the <tt>TSC-agenda</tt> label elsewhere) as that will generally flag it for inclusion in a future
         TSC meeting. The current TSC members with their affiiliation are listed
         <a href="https://github.com/AdoptOpenJDK/TSC/#tsc-members">here</a>. The TSC members also approve all
         releases.
    </DL>
    </div>

    <div style="margin-top: 3rem;">
      <!--
      <a href="https://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      -->
      <a href="./quality.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Quality&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="./supported_platforms.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Supported Platforms&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-support/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }} 
