{{> header title='Get Involved | ' }}

<main class="grey-bg align-center getinvolved">

  <h1 class="margin-bottom large-title">Get involved</h1>

  <div class="margin-bottom">
    <h2 class="bold">I'm a Java / OpenJDK User</h2>
    <p>
      We provide rock-solid binaries to the highest quality possible utilising existing OpenJDK test suites
      (via <em>jtreg</em> tests, <em>jcov</em> test coverage et al) and over 60,000 other OSS donated test suites.
      See <a href="./support.html">Support</a> for community and commercial support options.
    </p>

    <h3 class="bold">Available Platforms</h3>
    <p>
      We currently support ARM 32/64 (aarch 32/64), Linux x64, Windows, Solaris (Intel), MacOS and several other
      Linux variants inlcuding PPC and AIX.
    </p>

  </div>

  <div class="margin-bottom">
    <h2 class="bold">I'm an OpenJDK Developer</h2>
    <p>
      We provide <a target="_blank" href="https://www.github.com/AdoptOpenJDK">infrastructure as code</a>,
      and a <a href="https://ci.adoptopenjdk.net">Build and test farm</a> for OpenJDK developers.
      A future version of this build farm will act as a patch submission mechanism for OpenJDK developers to submit, review and test patches for
      multiple platforms <strong>before</strong> submitting to the <a href="https://openjdk.java.net">OpenJDK project</a>.
    </p>

    <h3 class="bold">Source Forests</h3>
    <p>
      We've started with jdk8u and jdk11u with test coverage from the open jtreg tests, providing jcov test coverage
      reports. Later on other popular forests such as valhalla etc will be added.
    </p>

    <p>
      There may be some areas of overlap with other past/present efforts, but that's OK.  We expect any duplication to
      converge in due course and have started working with other platform specific OpenJDK build efforts.
    </p>

  </div>

  <div class="margin-bottom">
    <h2 class="bold">I'm a Web Developer</h2>
    <p>The website is fully open-source, and contributions are welcome! Get involved by forking the <a target="_blank" href="https://github.com/AdoptOpenJDK/openjdk-website">openjdk-website repository</a> on GitHub.</p>
    <p>The <a target="_blank" href="https://github.com/AdoptOpenJDK/openjdk-website/blob/master/CONTRIBUTING.md">Contributing Guide</a> is regularly updated, and should help to get you up and running.</p>
  </div>

  <div class="margin-bottom">
    <h2 class="bold">I'm an Adopt OpenJDK Developer</h2>

    <p>
      Discussions take place on the <a href="./slack.html" target="_blank">Slack Group</a>),
      <!-- <a href="https://mail.openjdk.java.net/mailman/listinfo/adoption-discuss">Mailing List</a> --> and various GitHub repo issue trackers.
      Consensus is recorded on this project website or the appropriate GitHub repo (wiki) as appropriate:

      <ul>
        <li><a href="https://github.com/AdoptOpenJDK/TSC" target="_blank">Technical Steering Committee (TSC)</a> -
            <a href="https://github.com/AdoptOpenJDK/TSC/wiki" target="_blank">(wiki)</a>
            - The starting point</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-infrastructure" target="_blank">openjdk-infrastructure</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-infrastructure/wiki" target="_blank">(wiki)</a>
            - Information about the build farm's infrastructure</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-build" target="_blank">openjdk-build</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-build/wiki" target="_blank">(wiki)</a>
            - Build scripts and other infrastructure to create binaries</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-tests" target="_blank">openjdk-tests</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-tests/wiki" target="_blank">(wiki)</a>
            - Test scripts and other infrastructure to test binaries</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-website" target="_blank">openjdk-website</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-website/wiki" target="_blank">(wiki)</a>
            - This website</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-api" target="_blank">openjdk-api</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-api/wiki" target="_blank">(wiki)</a>
            - The API for users to get releases and nightly builds</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-binaries" target="_blank">openjdk-binaries</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-binaries/wiki" target="_blank">(wiki)</a>
            - AdoptOpenJDK tagged nightlies and releases</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-jdk8u" target="_blank">openjdk-jdk8u</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-jdk8u/wiki" target="_blank">(wiki)</a>
            - A clone of the OpenJDK jdk8u forest</li>
        <li><a href="https://github.com/AdoptOpenJDK/openjdk-jdk11u" target="_blank">openjdk-jdk11u</a> -
            <a href="https://github.com/AdoptOpenJDK/openjdk-jdk11u/wiki" target="_blank">(wiki)</a>
            - A clone of the OpenJDK jdk11u forest</li>
      </ul>
    </p>
  </div>

</main>

{{> footer }}
