{{> header title='Get Involved | ' }}

<main class="grey-bg align-center getinvolved">

  <h1 class="margin-bottom large-title">Get involved</h1>

  <div class="margin-bottom">
    <h2 class="bold">I'm a Java / OpenJDK User</h2>
    <p>
      We provide rock-solid binaries to the highest quality possible utilising existing OpenJDK test suites
      (via <em>jtreg</em> tests, <em>jcov</em> test coverage et al) and over 60,000 other OSS donated test suites.
      See <a href="./support.html">Support</a> for community and commercial support options.
    </p>

    <h3 class="bold">Available Platforms</h3>
    <p>
      We currently support ARM 32/64 (aarch 32/64), Linux x64, Windows, Solaris (Intel), MacOS and several other
      Linux variants including PPC and AIX.
    </p>

  </div>

  <div class="margin-bottom">
    <h2 class="bold">I'm an OpenJDK and/or an Eclipse OpenJ9 Developer</h2>
    <p>
      We provide <a target="_blank" href="https://www.github.com/AdoptOpenJDK">infrastructure as code</a>,
      and a <a href="https://ci.adoptopenjdk.net">Build and test farm</a> for OpenJDK and Eclipse OpenJ9 developers.
      A future version of this build farm will act as a patch submission mechanism for OpenJDK and Eclipse OpenJ9 developers to submit,
      review and test patches for multiple platforms <strong>before</strong> submitting to their respective upstream project.
    </p>

    <h3 class="bold">Source Forests</h3>
    <p>
      <strong>OpenJDK:</strong> We have clones starting from OpenJDK 8 (jdk8u) all the way through to the latest development version.
      We also cover some projects that have yet to be merged with mainline, e.g. Projects Amber, Valhalla and more.
    </p>
    <p>
      <strong>Eclipse OpenJ9:</strong> We pull directly from <a target="_blank" href="https://github.com/eclipse/openj9">Eclipse OpenJ9's GitHub repository</a>. OpenJDK class libraries are
      included as part of the build process.
    </p>
  </div>

  <div class="margin-bottom">
    <h2 class="bold">I'm a Web Developer</h2>
    <p>The website is fully open-source, and contributions are welcome! Get involved by forking the <a target="_blank" href="https://github.com/AdoptOpenJDK/openjdk-website">openjdk-website repository</a> on GitHub.</p>
    <p>The <a target="_blank" href="https://github.com/AdoptOpenJDK/openjdk-website/blob/master/CONTRIBUTING.md">Contributing Guide</a> is regularly updated, and should help to get you up and running.</p>
  </div>

  <div class="margin-bottom">
    <h2 class="bold">I'm an AdoptOpenJDK Developer</h2>

    <p>
      Discussions take place on the <a href="./slack.html" target="_blank">Slack Group</a>,
      and various GitHub repo issue trackers.
      Consensus is recorded on this project website or the appropriate GitHub repo (wiki) as appropriate:
    </p>
    <ul>
      <li><a href="https://github.com/AdoptOpenJDK/TSC" target="_blank">Technical Steering Committee (TSC)</a> -
          <a href="https://github.com/AdoptOpenJDK/TSC/wiki" target="_blank">(wiki)</a>
          - The starting point</li>
      <li><a href="https://github.com/AdoptOpenJDK/support" target="_blank">support</a> -
        <a href="https://github.com/AdoptOpenJDK/support/wiki" target="_blank">(wiki)</a>
        - Where end user support tickets are triaged</li>
      <li><a href="https://github.com/AdoptOpenJDK/openjdk-infrastructure" target="_blank">openjdk-infrastructure</a> -
          <a href="https://github.com/AdoptOpenJDK/openjdk-infrastructure/wiki" target="_blank">(wiki)</a>
          - Information about the build farm's infrastructure</li>
      <li><a href="https://github.com/AdoptOpenJDK/openjdk-build" target="_blank">openjdk-build</a> -
          <a href="https://github.com/AdoptOpenJDK/openjdk-build/wiki" target="_blank">(wiki)</a>
          - Build scripts and other infrastructure to create binaries</li>
      <li><a href="https://github.com/AdoptOpenJDK/openjdk-tests" target="_blank">openjdk-tests</a> -
          <a href="https://github.com/AdoptOpenJDK/openjdk-tests/wiki" target="_blank">(wiki)</a>
          - Test scripts and other infrastructure to test binaries</li>
      <li><a href="https://github.com/AdoptOpenJDK/openjdk-website" target="_blank">openjdk-website</a> -
          <a href="https://github.com/AdoptOpenJDK/openjdk-website/wiki" target="_blank">(wiki)</a>
          - This website</li>
      <li><a href="https://github.com/AdoptOpenJDK/openjdk-api-v3" target="_blank">openjdk-api-v3</a> -
          <a href="https://github.com/AdoptOpenJDK/openjdk-api-v3/wiki" target="_blank">(wiki)</a>
          - The API for users to get releases and nightly builds</li>
      <li><a href="https://github.com/AdoptOpenJDK/openjdk-jdk8u" target="_blank">openjdk-jdk8u</a> -
          <a href="https://github.com/AdoptOpenJDK/openjdk-jdk8u/wiki" target="_blank">(wiki)</a>
          - A clone of the OpenJDK jdk8u forest</li>
      <li><a href="https://github.com/AdoptOpenJDK/openjdk-jdk11u" target="_blank">openjdk-jdk11u</a> -
          <a href="https://github.com/AdoptOpenJDK/openjdk-jdk11u/wiki" target="_blank">(wiki)</a>
          - A clone of the OpenJDK jdk11u forest</li>
    </ul>
  </div>

</main>

{{> footer }}
