{{> header title='Get Involved - AdoptOpenJDK' }}

<main class="grey-bg align-center">

  <h1>Get involved</h1>

  <p><a href="http://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" target="_blank">Join the mailing list</a></p>
  <p><a href="https://github.com/AdoptOpenJDK/openjdk-build/wiki" target="_blank">See the build wiki on GitHub</a></p>
  <p><a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" target="_blank">Having issues? Report them here</a></p>

  <!--<p><asciinema-player autoplay=true loop=true  preload=true src="dist/assets/asciicast-107176.json" cols="70" rows="15"></asciinema-player></p>-->

</main>

{{> footer }}
