{{> header title='IcedTea-Web | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg upstream">

  <h1 class="margin-bottom large-title">IcedTea-Web Builds</h1>

  <div class="info-page-container upstream blue-link-section">

    <h2>Releases</h2>

    <div class="download">
      <table id="release">
        <tr>
          <th>Version</th>
          <th>Linux</th>
          <th>Windows</th>
          <th>Portable</th>
          <th>Source</th>
        </tr>
        <tr>
          <td class="first_col"><a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/tag/icedtea-web-1.8.1">icedtea-web-1.8.1</a></td>
          <td>
            <a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.linux.bin.zip">Linux x86_64 icedtea-web-1.8.1</a>,
            (<a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.linux.bin.zip.sha256.txt">Checksum</a>)
          </td>
          <td>
          <div>
            <a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.win.bin.zip">Windows x86_64 icedtea-web-1.8.1</a>,
            (<a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.win.bin.zip.sha256.txt">Checksum</a>)
          </div>
          <div>
            <a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.msi">Windows (MSI) x86_64 icedtea-web-1.8.1</a>,
            (<a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.msi.sha256.txt">Checksum</a>)
          </div>
          </td>
          <td>
            <a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.portable.bin.zip">Portable x86_64 icedtea-web-1.8.1</a>,
            (<a href="https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.1/icedtea-web-1.8.1.portable.bin.zip.sha256.txt">Checksum</a>)
          </td>
          <td>
            <a href="https://github.com/AdoptOpenJDK/IcedTea-Web/archive/icedtea-web-1.8.1.tar.gz">Source Tarball</a>
          </td>
        </tr>
      </table>
    </div>

  </div>

</main>

{{> footer }}
