{{> header title='' }}

<main class="grey-bg home-main">
  <h1>Prebuilt OpenJDK Binaries for Free!</h1>
  <p class="intro">
    Java™ is the world's leading programming language and platform.
    AdoptOpenJDK uses
    <a href="https://github.com/AdoptOpenJDK/openjdk-infrastructure" target="_blank">infrastructure</a>,
    <a href="https://github.com/AdoptOpenJDK/openjdk-build" target="_blank">build</a> and
    <a href="https://github.com/AdoptOpenJDK/openjdk-tests" target="_blank">test</a> scripts
    to produce prebuilt binaries from <a href="https://openjdk.java.net" target="_blank">OpenJDK</a>™ class libraries
    and a choice of either the
    <a target="_blank" href="https://openjdk.java.net/groups/hotspot/">OpenJDK HotSpot</a> or
    <a target="_blank" href="https://www.eclipse.org/openj9/">Eclipse OpenJ9</a> VM.<br/>
    All AdoptOpenJDK binaries and scripts are <a href="./about.html" target="_blank">open source licensed</a> and available for free.
  </p>

  <div class="dl-container">
    <h2 id="dl-text" class="invisible">Downloads</h2>

    <div class="btn-container index-btn-container">
      <form id="jdk-selector" class="jdk-btn-form btn-form">
        <h3>1. Choose a Version</h3>
      </form>
      <form id="jvm-selector" class="index-jvm-btn-form jvm-btn-form btn-form">
        <h3>2. Choose a JVM
          <span class="help-jvm">Help Me Choose</span>
          <div class="popup-content" id="jvm-popup">
            <div class="popup-heading">
              <h4>Choosing the right JVM</h4>
            </div>
            <div class="popup-text">
              <p class="hotspot-text"><b>HotSpot</b> is the VM from the OpenJDK community. It is the most widely used VM today and is used in Oracle’s JDK. It is suitable for all workloads.</p>
              <p>For more details see <a target="_blank" href="https://openjdk.java.net/groups/hotspot/">OpenJDK HotSpot</a>.</p>
              <p class="openj9-text"><b>Eclipse OpenJ9</b> is the VM from the Eclipse community.  It is an enterprise-grade VM designed for low memory usage and fast start-up and is used in IBM’s JDK.  It is suitable for running all workloads.</p>
              <p>For more details see <a target="_blank" href="https://www.eclipse.org/openj9/">Eclipse OpenJ9</a>.</p>
            </div>
          </div>
        </h3>
      </form>
    </div>

    <div id='loading'><img src='dist/assets/loading_dots.gif' height='40' width='40'></div>
    <div id="error-container"></div>

    <a href="./releases.html" class="dl-button a-button fadeIn invisible" id="dl-latest">
      <div id="dl-version">
        <i id="dl-icon" class="fa fa-download" aria-hidden="true"></i>
        <span>Latest release</span>
        <i id="dl-icon-2" class="fa fa-arrow-circle-o-right hide" aria-hidden="true"></i>
      </div>
      <div class="dl-description">
        <var id="dl-version-text" class="small-dl-text" release-version></var>
        <div id="jck-approved-tick" class='tick hide' data-tooltip="This build is JCK certified."><img src='./dist/assets/tick.png' alt="This build is JCK certified."></div>
      </div>
    </a>

    <a href="./releases.html" class="dl-button dl-thin-button a-button fadeIn invisible" id="dl-other">
      <div>
        <span>Other platforms</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>

    <a href="./archive.html" class="dl-button dl-thin-button a-button fadeIn invisible" id="dl-archive">
      <div>
        <span>Release Archive &amp; Nightly Builds</span>
        <i class="fa fa-archive" aria-hidden="true"></i>
      </div>
    </a>

    AdoptOpenJDK now also distributes <strong><a style="text-decoration: none;" href="/upstream.html">OpenJDK upstream builds</a></strong>!
  </div>

  <div style="margin-top: 3rem;">
    <a href="./installation.html" class="no-underline home-links">
      <h2 id="installation-link" class="inline-block zero-margin">Installation&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
    </a>
    <a href="./migration.html" class="no-underline home-links">
      <h2 id="migration-link" class="inline-block zero-margin">Migration&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
    </a>
    <a href="./support.html" class="no-underline home-links">
      <h2 id="support-link" class="inline-block zero-margin">Support&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
    </a>
    <a href="./getinvolved.html" id="dev-button" class="no-underline home-links">
      <h2 class="inline-block zero-margin">Get involved&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
    </a>

    <div id="minor-links" class="blue-link-section">
      <a href="./about.html"><h3 class="inline-block zero-margin">About</h3></a>
      <span> | </span>
      <a href="./sponsors.html"><h3 class="inline-block zero-margin">Sponsors</h3></a>
      <span> | </span>
      <a href="./testimonials.html"><h3 class="inline-block zero-margin">Testimonials</h3></a>
      <span> | </span>
      <a target="_blank" href="https://api.adoptopenjdk.net"><h3 class="inline-block zero-margin">API</h3></a>
      <span> | </span>
      <a target="_blank" href="https://blog.adoptopenjdk.net/"><h3 class="inline-block zero-margin">Blog</h3></a>
      <span> | </span>
      <a target="_blank" href="https://calendar.adoptopenjdk.net"><h3 class="inline-block zero-margin">Meeting diary</h3></a>
      <span> | </span>
      <a target="_blank" href="https://status.adoptopenjdk.net"><h3 class="inline-block zero-margin">Status</h3></a>
    </div>
  </div>
</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js"></script>'}}
