{{> header title='Installation - AdoptOpenJDK' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Installation</h1>

  <!--<h3>Jump to:</h3>
  <h3 class="zero-margin inline-block"><a class="grey-button no-underline" href="#linux-mac">Linux and macOS</a></h3>
  <h3 class="zero-margin inline-block"><a class="grey-button no-underline" href="#windows">Windows</a></h3>-->

  <div class="info-page-container">
    <div class="margin-bottom">
      <h2 id="linux-mac" class="bold">Linux and macOS installation</h2>
      <ol>
        <li>Download the latest <code>tar.gz</code> from the <a href="./releases.html">Latest release</a> page to a directory that will not move or be deleted.</li>
        <li>
          Using Terminal, navigate to the location of this <code>tar.gz</code>:
          <pre><code>cd &lt;path/to/your/directory&gt;</code></pre>
        </li>
        <li>
          Optional: use the <a href="#sha256">checksum instructions</a> below to ensure the authenticity of your binary.
        </li>
        <li>
          Extract the <code>tar.gz</code>. You can use the following command:
          <pre><code>tar -xf &lt;filename&gt;.tar.gz</code></pre>
        </li>
        <li>
          Add this version of Java to your PATH:
          <pre><code>export PATH=$PWD/j2sdk-image/bin:$PATH</code></pre>
        </li>
        <li>
          Check that it has installed correctly:
          <pre><code>java -version</code></pre>
        </li>
      </ol>
    </div>

    <div class="margin-bottom">
      <h2 id="windows" class="bold">Windows installation</h2>
      <ol>
        <li>Download the latest <code>.zip</code> from the <a href="./releases.html">Latest release</a> page to a directory that will not move or be deleted.</li>
        <li>
          Using the command prompt, navigate to the location of this <code>.zip</code>:
          <pre><code>cd &lt;path\to\your\directory&gt;</code></pre>
        </li>
        <li>
          Optional: use the <a href="#sha256">checksum instructions</a> below to ensure the authenticity of your binary.
        </li>
        <li>
          Extract the <code>.zip</code>. You can use the following command:
          <pre><code>unzip &lt;filename&gt;.zip</code></pre>
        </li>
        <li>
          Add this version of Java to your PATH:
          <pre><code>set PATH=%cd%\j2sdk-image\bin;%PATH%</code></pre>
        </li>
        <li>
          Check that it has installed correctly:
          <pre><code>java -version</code></pre>
        </li>
      </ol>
    </div>

    <div>
      <h2 id="sha256" class="bold">Checking the SHA-256 checksum</h2>
      <p>Optionally, you can compare the SHA-256 checksum of your downloaded binary against the checksums that are provided for every release and nightly build.</p>
      <p>Follow the instructions for your platform to generate a SHA-256 checksum of your downloaded binary, then open the corresponding <code>.txt</code> checksum file and ensure that it contains the same number.</p>
      <ul>
        <li>
          <span>Linux: </span>
          <pre><code>sha256sum path/to/file.tar.gz</code></pre>
        </li>
        <li>
          <span>macOS: </span>
          <pre><code>shasum -a 256 path/to/file.tar.gz</code></pre>
        </li>
        <li>
          <span>Windows: </span>
          <pre><code>certutil -hashfile path/to/file.zip SHA256</code></pre>
        </li>
      </ul>
    </div>

  </div>

</main>

{{> footer }}
