{{> header title='Installation | ' style1='<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/obsidian.min.css">' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Installation</h1>
  <h2>AdoptOpenJDK is no longer supported and it is recommended that all users move to Eclipse Temurin</h2>
  <h2>You will be redirected in 5 seconds...</h2>
</main>

{{> footer }}

<script>
  setTimeout(function(){
    window.open('https://adoptium.net/installation', '_blank');
  }, 3000);
</script>