{{> header title='JDK Mission Control | ' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">JDK Mission Control</h1>
<div class="info-page-container upstream blue-link-section">
  <div class="download">
    <p>JDK Mission Control is an open source tools suite for the JVM. It helps to find problems in programs and optimize programs at runtime.</p>
    <p>Latest snapshot builds only (release builds are coming soon)</p>
    <table id="release">
      <tr>
        <th>System</th>
        <th>Version</th>
        <th>Download</th>
      </tr>
      <tr>
        <td class="first_col">Windows</td>
        <td>Latest Snapshot</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-latest/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-win32.win32.x86_64.zip">org.openjdk.jmc-win32.win32.x86_64.zip</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Mac</td>
        <td>Latest Snapshot</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-latest/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-macosx.cocoa.x86_64.tar.gz">org.openjdk.jmc-macosx.cocoa.x86_64.tar.gz</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Linux</td>
        <td>Latest Snapshot</td>
       <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-latest/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-linux.gtk.x86_64.tar.gz">org.openjdk.jmc-linux.gtk.x86_64.tar.gz</a>
        </td>
      </tr>
    </table>

    <p>We also provide an Eclipse update site (for running JMC inside of the Eclipse IDE):</p>

    <table id="release">
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
      <tr>
        <td class="first_col">Mission Control for Eclipse</td>
        <td>Latest Snapshot</td>
        <td>An update site for installing JDK Mission Control in the Eclipse IDE</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-latest/lastSuccessfulBuild/artifact/application/org.openjdk.jmc.updatesite.ide/target/org.openjdk.jmc.updatesite.ide-7.1.0-SNAPSHOT.zip">org.openjdk.jmc.updatesite.ide-7.1.0-SNAPSHOT.zip</a>
        </td>
      </tr>
    </table>
  </div>
</div>

</main>

{{> footer }}
