{{> header title='JDK Mission Control | ' }}

<main class="grey-bg">

<h1 class="margin-bottom large-title">JDK Mission Control</h1>
<div class="info-page-container upstream blue-link-section">
  <div class="download">
    <p>JDK Mission Control is a low-overhead profiling and diagostics tools suite for the JVM.</p>
    <p>For a JDK Mission Control introduction, have a look at <a href="https://github.com/thegreystone/jmc-tutorial">Marcus Hirt tutorial</a>.</p>

    <h2 class="medium-title">Final JDK Mission Control 8.0.0</h2>
    <table id="release">
      <tr>
        <th>System</th>
        <th>Version</th>
        <th>Download</th>
      </tr>
      <tr>
        <td class="first_col">Windows</td>
        <td>8.0.0</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/8.x.x/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-8.0.0-win32.win32.x86_64.zip">org.openjdk.jmc-8.0.0-win32.win32.x86_64.zip</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Mac</td>
        <td>8.0.0 Snapshot</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/8.x.x/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-8.0.0-macosx.cocoa.x86_64.tar.gz">org.openjdk.jmc-8.0.0-macosx.cocoa.x86_64.tar.gz</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Linux</td>
        <td>8.0.0 Snapshot</td>
       <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/8.x.x/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-8.0.0-linux.gtk.x86_64.tar.gz">org.openjdk.jmc-8.0.0-linux.gtk.x86_64.tar.gz</a>
        </td>
      </tr>
    </table>

    <br>

    <h2 class="medium-title">Final JDK Mission Control 7.1.1</h2>
    <table id="release">
      <tr>
        <th>System</th>
        <th>Version</th>
        <th>Download</th>
      </tr>
      <tr>
        <td class="first_col">Windows</td>
        <td>7.1.1</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/7.x.x/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-7.1.1-win32.win32.x86_64.zip">org.openjdk.jmc-7.1.1-win32.win32.x86_64.zip</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Mac</td>
        <td>7.1.1</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/7.x.x/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-7.1.1-macosx.cocoa.x86_64.tar.gz">org.openjdk.jmc-7.1.1-macosx.cocoa.x86_64.tar.gz</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Linux</td>
        <td>7.1.1</td>
       <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/7.x.x/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-7.1.1-linux.gtk.x86_64.tar.gz">org.openjdk.jmc-7.1.1-linux.gtk.x86_64.tar.gz</a>
        </td>
      </tr>
    </table>

    <br>

    <h2 class="medium-title">Preview JDK Mission Control 8.1.0</h2>
    <table id="release">
      <tr>
        <th>System</th>
        <th>Version</th>
        <th>Download</th>
      </tr>
      <tr>
        <td class="first_col">Windows</td>
        <td>8.1.0 Snapshot</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/master/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-8.1.0-SNAPSHOT-win32.win32.x86_64.zip">org.openjdk.jmc-8.1.0-SNAPSHOT-win32.win32.x86_64.zip</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Mac</td>
        <td>8.1.0 Snapshot</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/master/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-8.1.0-SNAPSHOT-macosx.cocoa.x86_64.tar.gz">org.openjdk.jmc-8.1.0-SNAPSHOT-macosx.cocoa.x86_64.tar.gz</a>
        </td>
      </tr>
      <tr>
        <td class="first_col">Linux</td>
        <td>8.1.0 Snapshot</td>
       <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/master/lastSuccessfulBuild/artifact/target/products/org.openjdk.jmc-8.1.0-SNAPSHOT-linux.gtk.x86_64.tar.gz">org.openjdk.jmc-8.1.0-SNAPSHOT-linux.gtk.x86_64.tar.gz</a>
        </td>
      </tr>
    </table>

    <br>
    <h3 class="medium-title">Note (MacOS X)</h3>
    <p>Please unpack the archive using: <pre>cat org.openjdk.jmc-8.0.0-macosx.cocoa.x86_64.tar.gz |tar xv -</pre> or <pre>cat org.openjdk.jmc-8.1.0-SNAPSHOT-macosx.cocoa.x86_64.tar.gz |tar xv -</pre></p>

    <br>
    <p>We also provide an Eclipse update site archive for installing JMC into the Eclipse IDE:</p>

    <table id="release">
      <tr>
        <th>Version</th>
        <th>Download</th>
      </tr>
      <tr>
        <td>8.0.0</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/8.x.x/lastSuccessfulBuild/artifact/application/org.openjdk.jmc.updatesite.ide/target/org.openjdk.jmc.updatesite.ide-8.0.0.zip">org.openjdk.jmc.updatesite.ide-8.0.0.zip</a>
        </td>
      </tr>
      <tr>
        <td>7.1.1</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/7.x.x/lastSuccessfulBuild/artifact/application/org.openjdk.jmc.updatesite.ide/target/org.openjdk.jmc.updatesite.ide-7.1.1.zip">org.openjdk.jmc.updatesite.ide-7.1.1.zip</a>
        </td>
      </tr>
      <tr>
        <td>8.1.0 Snapshot</td>
        <td>
          <a href="https://ci.adoptopenjdk.net/view/JMC/job/jmc-build/job/master/lastSuccessfulBuild/artifact/application/org.openjdk.jmc.updatesite.ide/target/org.openjdk.jmc.updatesite.ide-8.1.0-SNAPSHOT.zip">org.openjdk.jmc.updatesite.ide-8.1.0-SNAPSHOT.zip</a>
        </td>
      </tr>
    </table>
  </div>
</div>

</main>

{{> footer }}
