{{> header title='Brand Resources | ' }}

<main class="grey-bg logos">

  <h1 class="margin-bottom large-title">Brand Resources</h1>

  <h2>Basic Usage Guidelines</h2>

  <div class="guidelines">
  <ul>
    <li>Do not rotate the AdoptOpenJDK logo.</li>
    <li>Do not change the color of the AdoptOpenJDK logo.</li>
    <li>Allow an appropriate amount of white space around the AdoptOpenJDK logo, at least as much as the x-height of the logo (suggested).</li>
  </ul>
</div>

  <div id="logos-container" class="blue-link-section media-kit">

    <h3>AdoptOpenJDK logo blue (.svg)</h3>

    <a href="dist/assets/adopt_logo_blue.svg" target="_blank"><img src="dist/assets/adopt_logo_blue.svg" class="logo"></img></a>

    <h3>AdoptOpenJDK logo White (.svg)</h3>

    <a href="dist/assets/adopt_logo_white.svg" target="_blank"><img src="dist/assets/adopt_logo_white.svg" class="logo logo-white"></img></a>

    <h3>AdoptOpenJDK Primary Colours</h3>

    <div class="table">
      <div class="row">
        <div class="mainblue square">#152935</div>
        <div class="maingrey square">#F5F5F5</div>
        <div class="brighterblue square">#3D70B2</div>
        <div class="accentgrey square">#dadada</div>
      </div>
    </div>

    <h3>AdoptOpenJDK Secondary Colours</h3>
    <div class="table">
      <div class="row">
        <div class="tableblue-odd square">#182336</div>
        <div class="tableblue-even square">#1F2F4E</div>
        <div class="palegrey square">#e6e6e6</div>
        <div class="orange square">#ff9800</div>
      </div>
    </div>

    <h3>AdoptOpenJDK Banner (.png)</h3>

    <a href="dist/assets/social-image.png" target="_blank"><img src="dist/assets/social-image.png" class="banner"></img></a>

    <h3>AdoptOpenJDK Square (.png)</h3>

    <a href="dist/assets/social-logo.png" target="_blank"><img src="dist/assets/social-logo.png" class="banner"></img></a>

  </div>

</main>

{{> footer }}
