{{> header title='Working Group Members | ' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Working Group Members</h1>

  <div class="info-page-container sponsors blue-link-section">
    <div class="callout">
      <h3 class="bold">Want to become a member?</h3>
      <p>Please contact the Eclipse Foundation for more information</p>
    </div>

    <div class="anchor align-center">
      <a href="strategic-members" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4"><a id="platinum-sponsors">Strategic Members</a></h2>
    </div>
    <p>Strategic Members are organizations that view Adoptium working group managed technology as critical to their organization’s future, and are investing significant resources to sustain and define the core activities that are the responsibility of the working group.</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://www.delphix.com/"><img src="dist/assets/delphix.png" alt="Delphix logo"></a></td>
        <td><a target="_blank" href="http://londonjavacommunity.co.uk/"><img src="dist/assets/ljc.png" alt="London Java Community (LJC) logo"></a></td>
        <td><a target="_blank" href="https://www.snyk.io/"><img src="dist/assets/snyk.png" alt="Snyk logo"></a></td>
    </table>

    <div class="anchor align-center">
      <a href="#enterprise-members" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="gold-sponsors">Enterprise Members</a></h2>
    </div>
    <p class="align-center">Enterprise Members are typically organizations that view the Adoptium working group managed technology as a critical part of their organization's business operations. These organizations want to influence the direction and support the development of a runtime technology ecosystem through Eclipse Adoptium.</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://www.delphix.com/"><img src="dist/assets/delphix.png" alt="Delphix logo"></a></td>
        <td><a target="_blank" href="http://londonjavacommunity.co.uk/"><img src="dist/assets/ljc.png" alt="London Java Community (LJC) logo"></a></td>
        <td><a target="_blank" href="https://www.snyk.io/"><img src="dist/assets/snyk.png" alt="Snyk logo"></a></td>
    </table>

    <div class="anchor align-center">
      <a href="#participant-members" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="silver-sponsors">Participant Members</a></h2>
    </div>
    <p class="align-center">Participant Members are typically organizations that deliver products or services based on Adoptium technology. These organizations want to participate in the evolution of the Eclipse Adoptium ecosystem to ensure it continues to meet their needs.</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://www.digicert.com/"><img src="dist/assets/digicert.png" alt="DigiCert logo"></a></td>
        <td><a target="_blank" href="https://newrelic.com/"><img src="dist/assets/newrelic.svg" alt="New Relic logo"></a></td>
    </table>
  </div>

</main>

{{> footer }}
