{{> header title='migration | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Migration Guide</h1>

  <div class="align-left support">

    <div class="anchor" onmouseover="document.getElementById('anchor1').style.visibility='visible'" onmouseout="document.getElementById('anchor1').style.visibility='hidden'"><a href="#community-support" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor1" alt="anchor icon"></a>
      <h2 class="bold"><a id="migration-overview">Migrating to AdoptOpenJDK</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        If you are moving from Oracle JDK to OpenJDK from the AdoptOpenJDK project, you'll probably have a few key questions on your mind. Firstly,
        you'll want to know what the differences are between Oracle JDK and AdoptOpenJDK and whether there are any steps you need to take to migrate.
        If you've looked at the home page, you'll also know that we provide AdoptOpenJDK binaries with a choice of Java Virtual Machine (JVM). So, you
        might also be wondering what the difference is between the HotSpot JVM and Eclipse OpenJ9 JVM and whether your existing applications will run
        without any changes. The answers to these questions are covered in the sections that follow.
      </p>
      <p>To understand which platforms are supported, see the <a href="./supported_platforms.html">Platform Support Matrix</a>.</p>
    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor2').style.visibility='visible'" onmouseout="document.getElementById('anchor2').style.visibility='hidden'"><a href="#roadmap" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor2" alt="anchor icon"></a>
      <h2 class="bold"><a id="migration-oracle">Migrating from Oracle JDK</a></h2>
    </div>
    <div class="margin-bottom">
      <p>The following table illustrates the proprietary components that can be found in Oracle JDK 8 and the alternative technologies that are either planned
      or available to replace them. Click on the links to learn more about each component and any steps that might be necessary to adopt them.</p>
      <table>
        <thead>
          <tr>
            <th>Oracle JDK 8 proprietary component</th>
            <th>Alternative component</th>
            <th>OpenJDK 8</th>
            <th>OpenJDK 11</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Java Web Start/browser plugin</td>
            <td><a href="#icedtea-web">IcedTea-Web</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
          </tr>
          <tr>
            <td>JavaFX</td>
            <td><a href="#openjfx">OpenJFX</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
          </tr>
          <tr>
            <td>T2K font rendering engine</td>
            <td><a href="#freetype-font-rendering-library">Freetype</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
          </tr>
          <tr>
            <td>Monotype Lucida fonts</td>
            <td><a href="#relicensed-lucida-fonts">Relicensed Lucida fonts</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
          </tr>
          <tr>
            <td>Ductus 2D renderer</td>
            <td><a href="#pisces-and-marlin">Pisces/Marlin</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (Pisces)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (Marlin)</td>
          </tr>
          <tr>
            <td>Kodac Color Matching System (KCMS) library</td>
            <td><a href="#lcms">LCMS</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
          </tr>
          <tr>
            <td>SNMP</td>
            <td>Use <a href="#jmx">JMX</a> (or SNMP4J)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
          </tr>
          <tr>
            <td>Sound drivers</td>
            <td>Use <a href="#windows-sound-drivers">Windows sound drivers</a></td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span> (not bundled)</td>
          </tr>
          <tr>
            <td>Java Flight Recorder (JFR)</td>
            <td><a href="#java-flight-recorder">Java Flight Recorder</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
            <td><i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">yes</span></td>
          </tr>
          <tr>
            <td>Java Mission Control (JMC)</td>
            <td>Use <a href="#jdk-mission-control">JDK Mission Control</a></td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
            <td><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">no</span> (coming soon)</td>
          </tr>
        </tbody>
      </table>
      <p>
        <i class="fa fa-pencil" aria-hidden="true"></i><span class="sr-only">Note:</span> JavaFX, JFR, and JMC were all contributed
        by Oracle to the OpenJDK project for releases after Java 8.
      </p>

      <h3 id="icedtea-web">IcedTea-Web</h3>

      <p>IcedTea-Web is available to download from the <a href="./icedtea-web.html" target="_blank">Iced-Tea Web project page</a> in Linux, Windows,
      and Portable package formats.</p>

      <p>IcedTea-Web is also available as an optional component of the AdoptOpenJDK installer for Windows that you can select from the <strong>Custom Setup</strong> panel.
      You can also choose to associate JNLP files so that when a user clicks on the JNLP file, it is automatically opened with IcedTea-Web.
      </p>
      <p>By default, IcedTea-Web is installed into the OpenJDK directory and has the same executable name (<tt>javaws.exe</tt>) as Java Web Start. To configure settings,
      such as security or certificates, start the control panel by running <tt>itweb-settings.exe</tt>.
      </p>
      <p>Use IcedTea-Web in the same way as Java Web Start. For more information, see <a href="https://docs.oracle.com/javase/tutorial/deployment/webstart/developing.html" target="_blank">
      Developing a Java Web Start application</a> and <a href="https://docs.oracle.com/javase/tutorial/deployment/webstart/deploying.html" target="_blank">Deploying a Java Web Start
      application</a>. Whilst IcedTea-Web is written to operate in the same way as Java Web Start there are a few known differences, which are raised as issues in the
      <a href="https://github.com/AdoptOpenJDK/icedtea-web" target="_blank">GitHub project</a>. Work is ongoing to minimize or eliminate these differences.
      </p>
      <p><i class="fa fa-pencil" aria-hidden="true"></i><span class="sr-only">Note:</span> Currently, IcedTea-Web is bundled only with the Windows MSI installer for OpenJDK 8 and 11.
      The installers are available only for x64 Windows systems. Further work is underway to provide IcedTea-Web as an optional component of AdoptOpenJDK installers for other platforms.
      </p>

      <h3 id="openjfx">OpenJFX</h3>

      <p>Back in 2017, JavaFX was decoupled from the Oracle JDK and contributed to the OpenJDK community. The OpenJFX community is focused on OpenJFX 11+ and AdoptOpenJDK is working with the OpenJFX community to provide it via an installer option in AdoptOpenJDK binaries.</p>
      <p><i class="fa fa-pencil" aria-hidden="true"></i><span class="sr-only">Note:</span> OpenJFX 8 is no longer being actively maintained. If you need this capability, we recommend upgrading to OpenJFX 11.</p>

      <h3 id="freetype-font-rendering-library">Freetype font rendering library</h3>

      <p>OpenJDK uses the open source FreeType font rendering library instead of the proprietary T2K font library.</p>

      <h3 id="relicensed-lucida-fonts">Relicensed Lucida fonts</h3>

      <p>The Lucida fonts that are available in Oracle JDK 8 have a proprietary 3rd party license. AdoptOpenJDK intend to provide relicensed Lucida fonts. Work is ongoing to minimize any display issues when these fonts are rendered by Freetype and is expected to complete in 2Q 2019.</p>

      <h3 id="pisces-and-marlin">Pisces and Marlin</h3>

      <p>Oracle JDK 8 uses a proprietary 2D graphics renderer called Ductus, whereas OpenJDK uses an open-source renderer called Pisces. From OpenJDK 9,
      the Marlin renderer is in use. Work is planned at AdoptOpenJDK to either backport Marlin to OpenJDK 8 and/or minimize any display issues between the two. The outlook for completion is Q2 2019.</p>

      <h3 id="lcms">LCMS</h3>

      <p>OpenJDK uses the Little Color Matching System (LCMS) open source open source library instead of the proprietary Kodac CMS library.</p>

      <h3 id="jmx">JMX</h3>

      <p>The proprietary SNMP package shipped with Oracle JDK 8 is not present in OpenJDK. Use JMX as an alternative, or SNMP4J. These packages are
      not bundled with the AdoptOpenJDK binaries.</p>

      <h3 id="windows-sound-drivers">Windows sound drivers</h3>

      <p>Oracle JDK provides native sound drivers for Java 8 on Windows, which are not present in OpenJDK. Use the sound drivers that are available
      with Microsoft Windows instead.</p>

      <h3 id="java-flight-recorder">Java Flight Recorder</h3>

      <p>Java Flight Recorder (JFR) was decoupled from the Oracle JDK and contributed to the OpenJDK community. Work is underway to backport JFR from OpenJDK 11 to OpenJDK 8. When this work is complete, AdoptOpenJDK will include JFR in OpenJDK 8 binaries.</p>

      <h3 id="jdk-mission-control">JDK Mission Control</h3>

      <p>Java Mission Control (JMC) is being open sourced under the OpenJDK <a href="https://github.com/JDKMissionControl/jmc" target="_blank">JDK Mission Control project</a>. When
      available, JMC will be able to receive JFR events from OpenJDK 11 and eventually OpenJDK 8, when that backport is complete.</p>

    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor3').style.visibility='visible'" onmouseout="document.getElementById('anchor3').style.visibility='hidden'"><a href="#commercial-support" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor3" alt="anchor icon"></a>
      <h2 class="bold"><a id="migration-openj9">Migrating to Eclipse OpenJ9</a></h2>
    </div>

    <div class="margin-bottom">
      <p><a href="https://www.eclipse.org/openj9">Eclipse OpenJ9</a> is an alternative JVM that implements the <a href="https://docs.oracle.com/javase/specs/index.html">Java Virtual Machine Specification</a>.
      You can think of it as a drop in replacement for the HotSpot VM, which is part of the reference implementation. Most Java applications should run
      on an OpenJDK that contains the OpenJ9 VM without changing anything. However, because it is an independent implementation there are some slight
      differences. You can learn about these differences by reading the <a href="https://www.eclipse.org/openj9/docs/openj9_newuser/">New to OpenJ9?</a> topic
      in the OpenJ9 user documentation.</p>

    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor4').style.visibility='visible'" onmouseout="document.getElementById('anchor4').style.visibility='hidden'"><a href="#commercial-support" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor4" alt="anchor icon"></a>
      <h2 class="bold"><a id="migration-resources">More resources</a></h2>
    </div>

    <div class="margin-bottom">
      <p>Here are a few of the resources available to help you with migrating to AdoptOpenJDK:
        <ul>
          <li>Ask questions directly by joining the <a href="https://adoptopenjdk.net/slack.html">AdoptOpenJDK Community Slack</a> group.</li>
          <li>Learn more about the AdoptOpenJDK project, including build and test infrastructure, by reading the <a href="https://github.com/AdoptOpenJDK/TSC">Technical Steering Committee</a> documentation.</li>
          <li>For HotSpot VM documentation, see the <a href="http://openjdk.java.net/groups/hotspot/docs/RuntimeOverview.html">HotSpot Runtime Overview</a>.</li>
          <li>For OpenJ9 VM documentation, see the <a href="https://www.eclipse.org/openj9/docs/">OpenJ9 user documentation</a>.</li>
       </ul>
      </p>
    </div>

    <div style="margin-top: 3rem;">
      <!--
      <a href="https://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      -->
      <a href="./quality.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Quality&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="./supported_platforms.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Supported Platforms&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
