{{> header title='Migration Guide | ' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Migration Guide</h1>
  <h2>The most up to date version of this guide is at Eclipse Adoptium</h2>
  <h2>You will be redirected in 5 seconds...</h2>
</main>

{{> footer }}

<script>
  setTimeout(function(){
    window.open('https://adoptium.net/docs/migration', '_blank');
  }, 3000);
</script>
