{{> header title='Nightly builds | ' }}

<main class="grey-bg">
  <h1 class="large-title">Nightly builds</h1>
  <h2>Nightly builds are now available from Eclipse Adoptium</h2>
  <h2>You will be redirected in 5 seconds...</h2>
</main>

{{> footer }}

<script>
  setTimeout(function(){
    window.open('https://adoptium.net/temurin/nightly', '_blank');
  }, 3000);
</script>