{{> header title='Quality | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<!-- TODO Page uses support style sheet, may need to have its own -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Quality</h1>

  <div class="align-left support">

    <div class="anchor" onmouseover="document.getElementById('anchor1').style.visibility='visible'" onmouseout="document.getElementById('anchor1').style.visibility='hidden'"><a href="#quality" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor1" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="quality">Quality</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        AdoptOpenJDK builds and tests binaries for different source code streams based upon OpenJDK.
        Our binaries undergo extensive testing, and are made available with two distinct quality
        levels - <strong>release</strong> and <strong>nightly</strong>.</br>
        </br>
        <strong>Releases</strong> have passed all the available OpenJDK test suites and our additional
        tests (donated by the community), ensuring the best quality binary available. We recommend you
        choose releases for running your applications.
        </br>
        </br><strong>Nightly</strong> builds have passed basic quality level testing. The nightlies
        may include functionality and implementations that are unstable, or have not had the benefit
        of long running tests. Use these nightlies if you wish to check the very latest capabilities
        and fixes, and to see what is coming in the next release.
      </p>
    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor2').style.visibility='visible'" onmouseout="document.getElementById('anchor2').style.visibility='hidden'"><a href="#jck" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor2" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="jck">Java Compatibility Kit (JCK) / TCK Compliance</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        At this stage the London Jamocha Community CIC (aka LJC) has not been able to reach an
        agreement with Oracle to use the Java SE Technology Compatibility Kit (TCK)
        under the terms of the OpenJDK Community TCK License Agreement (OCTLA).</br>
        </br>
        We will continue to work with Oracle on this matter.</br>
        </br>
        All AdoptOpenJDK binaries are tested with our suite of functional, integration,
        stress, and performance tests, including real workloads from popular languages
        and applications. We are very confident in the quality of our builds.
      </p>
    </div>

    <div style="margin-top: 3rem;">
      <a href="./support.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Support&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="./supported_platforms.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Supported Platforms&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
