{{> header title='Latest release - AdoptOpenJDK' }}

<main class="grey-bg">

  <div id="latest-page">
    <h1 class="large-title">Latest release</h1>
    <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>

    <div style="margin-bottom: 2rem;">
      <a href="./archive.html" class="grey-button a-button">
        <div>
          <span>Release archive</span>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>
    </div>

    <div id="latest-container" class="invisible">

      <table id="latest-metadata-table" cellspacing="0" cellpadding="0">
        <tr>
          <td><strong>Name: </strong><a href="" id="latest-build-name" class="dark-link no-underline" target="_blank"></a></td>
          <td><strong>Date: </strong><span id="latest-date"></span></td>
          <!--<td><a href="" class="light-link" id="latest-changelog" target="_blank"><strong>Changelog</strong></a></td>-->
          <td><strong>Timestamp: </strong><span id="latest-timestamp"></span></td>
          <!--<td><strong>Build number: </strong><span id="latest-buildnumber"></span></td>-->
          <!--<td><strong>Commit ref: </strong><a href="" class="light-link" id="latest-commitref" target="_blank"></a></td>-->
        </tr>
      </table>

      <div id="latest-downloads-container"></div>

    </div>

  </div>

  <div id="error-container"></div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.js"></script>' script2='<script>onLatestLoad();</script>' }}
