{{> header title='Latest release - AdoptOpenJDK' }}

<main class="grey-bg">

  <div id="latest-page">
    <p class="zero-margin">Latest release:</p><h1><a href="" id="latest-build-name" class="dark-link no-underline" target="_blank"></a></h1>
    <div id="latest-loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>

    <div id="latest-container" class="invisible">

      <div id="latest-intro">
        <a href="./archive.html" id="archive-button" class="grey-button a-button">
          <div>
            <span>Release archive</span>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </div>
        </a>
      </div>

      <table id="latest-metadata-table" cellspacing="0" cellpadding="0">
        <tr>
          <td>Date: <span id="latest-date"></span></td>
          <!--<td><a href="" class="light-link" id="latest-changelog" target="_blank">Changelog</a></td>-->
          <td>Timestamp: <span id="latest-timestamp"></span></td>
          <!--<td>Build number: <span id="latest-buildnumber"></span></td>-->
          <!--<td>Commit ref: <a href="" class="light-link" id="latest-commitref" target="_blank"></a></td>-->
        </tr>
      </table>

      <div id="latest-downloads-container"></div>

    </div>

  </div>

  <div id="error-container"></div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.js"></script>' script2='<script>onLatestLoad();</script>' }}
