{{> header title='Releases - AdoptOpenJDK' }}

<main class="grey-bg">

  <!-- BEGINNING OF 'LATEST' PAGE -->

  <div id="latest-page">
    <p class="zero-margin">Latest release:</p><h1><a href="" id="latest-build-name" class="dark-link no-underline" target="_blank"></a></h1>
    <div id="latest-loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>

    <div id="latest-container" class="invisible">

      <div id="latest-intro">
        <a href="./releases.html#archive" id="archive-button" class="grey-button a-button">
          <div>
            <span>Release archive</span>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </div>
        </a>
      </div>

      <table id="latest-metadata-table" cellspacing="0" cellpadding="0">
        <tr>
          <td>Date: <span id="latest-date"></span></td>
          <!--<td><a href="" class="light-link" id="latest-changelog" target="_blank">Changelog</a></td>-->
          <td>Timestamp: <span id="latest-timestamp"></span></td>
          <!--<td>Build number: <span id="latest-buildnumber"></span></td>-->
          <!--<td>Commit ref: <a href="" class="light-link" id="latest-commitref" target="_blank"></a></td>-->
        </tr>
      </table>

      <div id="latest-downloads-container"></div>

    </div>

  </div>

  <!-- END OF 'LATEST' PAGE -->

  <!-- BEGINNING OF 'ARCHIVES' PAGE -->

  <div id="archives-page">
    <h1 class="large-title">Archive</h1>
    <a href="./releases.html" id="latest-button" class="blue-button a-button">
      <div>
        <span>See the latest release</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>
    <a href="./nightly.html" id="nightly-button" class="grey-button a-button">
      <div>
        <span>See the nightly builds</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>

    <div id="archive-loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>

    <div id="filter-container" class="hide">
      <h3 class="inline-block" style="margin: 2rem .5rem 1rem 0;">Filter by platform:</h3>
      <select id="platform-dropdown">
        <option value="ALL">All</option>
      </select>
    </div>

    <div id="archive-list" class="hide">
      <table class='archive-container'>
        <tbody id='archive-table-body'></tbody>
      </table>
    </div>

  </div>


  <!-- END OF 'ARCHIVES' PAGE -->
  <div id="error-container"></div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.js"></script>' script2='<script>onReleasesLoad();</script>' }}
