{{> header title='Slack Signup | ' }}

<main class="grey-bg align-center getinvolved">

  <h1 class="margin-bottom large-title">Slack Signup</h1>

  <h3 class="intro">
    Public Slack Archive available <a href="https://adoptopenjdk.slackarchive.io/" target="_blank">here</a>.
  </h3>

  <iframe src="https://slackin-jmnmplfpdu.now.sh/" height="500" width="310"
        frameborder="0" scrolling="no" id="iframe"> ...
</iframe>
</main>

{{> footer }}
