{{> header title='Slack Signup | ' }}

<main class="grey-bg align-center getinvolved">

  <h1 class="margin-bottom large-title">Slack Signup</h1>

  <form
    action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdxrFvVu49Nx0zQKZAfHe_43H3H6BOhRiRXayQjjAmlbnSJfg/formResponse"
    method="post"
    target="_blank"
  >
    <input
      autocomplete="email"
      name="emailAddress"
      placeholder="Your email"
      type="email"
    >
    <button
      class="blue-button"
      type="submit"
    >
      Invite Me!
    </button>
  </form>
</main>

{{> footer }}
