{{> header title='Slack Signup | ' }}

<main class="grey-bg align-center getinvolved">

  <h1 class="margin-bottom large-title">Slack Signup</h1>

  <iframe src="https://slackin-jmnmplfpdu.now.sh/" height="500"
        frameborder="0" scrolling="no" id="iframe"> ...
</iframe>
</main>

{{> footer }}
