{{> header title='Sponsors | ' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Sponsors</h1>

  <div class="info-page-container sponsors blue-link-section">
    <p>The AdoptOpenJDK Foundation is proud to receive contributions from many companies, both in the form of monetary contributions in exchange for membership or in-kind contributions for required resources.</p>
    <div class="callout">
      <h3 class="bold">We are currently looking for the following infrastructure:</h3>
      <p>Multiple build and test servers across various platforms that have significant CPU and memory. This will be used to quickly and continuously build and test multiple versions of OpenJDK.</p>
    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor1').style.visibility='visible'" onmouseout="document.getElementById('anchor1').style.visibility='hidden'"><a href="#tier-1-sponsors" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor1" name="anchor" alt="anchor icon"></a>
      <h2 class="bold margin-top-4"><a id="tier-1-sponsors">Tier-1 Sponsors</a></h2>
    </div>
    <p>The AdoptOpenJDK Foundation's Tier-1 infrastructure providers contribute the largest share of infrastructure to the Adopt OpenJDK build farm project. Without these companies, the project would not be able to provide the quality, speed and availability
      of test coverage that it does today. (Listed alphabetically).</p>
    <table class="sponsor-table" notranslate>
      <tr>
        <td><a target="_blank" href="https://www.azul.com/"><img src="dist/assets/azul.png" alt="Azul Logo"></a></td>
        <td>Since its founding in 2002, <a target="_blank" href="https://www.azul.com/">Azul Systems</a> has been exclusively focused on Java, and on producing high quality JDKs, JREs, and JVMs.  We are active contributors to OpenJDK, serve on the JCP Executive Committee and JSR expert groups, and are members or project leads in OpenJDK projects including the OpenJDK Vulnerability Group. Azul produces free community builds of OpenJDK with <a target="_blank" href="https://www.azul.com/downloads/zulu/">Zulu</a> and provides commercial support for builds of OpenJDK with its  <a target="_blank" href="https://www.azul.com/products/zulu-enterprise/">Zulu Enterprise</a> and <a target="_blank" href="https://www.azul.com/products/zulu-embedded/">Zulu Embedded</a> offerings, which include timely security updates, bug fixes, long term availability & updates of builds, and access to our award-winning Support team.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://www.ibm.com"><img src="dist/assets/ibm.png" alt="IBM logo"></a></td>
        <td>For 20+ years, <a target="_blank" href="https://www.ibm.com">IBM</a> has been one of the largest investors and contributors to the Java platform, and an active member of the developer community. IBM offers a comprehensive portfolio of solutions,
          services and systems for Java developers supporting mobile, web, cognitive, analytics and IoT. IBM’s Bluemix offers Java developers a robust, cloud-development platform to speed app development, including access to enterprise services and APIs,
          and scalable hosting in hybrid, public, dedicated and/or on premise environments.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://londonjavacommunity.wordpress.com/"><img src="dist/assets/ljc.png" alt="London Java Community (LJC) logo"></a></td>
        <td>
          The London Java Community (LJC) is a group of Java enthusiasts who are interested in benefiting from shared knowledge in the industry. Through our forum and regular meetings developers can keep in touch with the latest industry developments, learn new
          Java (&amp; other JVM) technologies, meet other developers, discuss technical/non technical issues and network further throughout the Java Community.
          <br><br> The LJC has over 6000 members and holds a seat on the Executive Committee of the Java Community Process (<a target="_blank" href="http://www.jcp.org">JCP</a>) - aka the Java standards body. The LJC is a leading member in both the
          <a target="_blank" href="https://community.oracle.com/community/java/jcp/adopt-a-jsr">Adopt a JSR</a> and <a target="_blank" href="https://community.oracle.com/docs/DOC-991498">Adopt OpenJDK</a> programmes to contribute to Java standards and
          the leading implementations behind those standards.
        </td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://azure.microsoft.com/"><img src="dist/assets/microsoft.png" alt="Azure logo"></a></td>
        <td><a target="_blank" href="https://azure.microsoft.com/">Microsoft Azure</a> believes that all individuals and groups should be empowered with the full freedom and power of the cloud. Azure offers the trust, transparency, and humanity that all developer communities need to navigate, thrive, and endure in this increasingly cloud-powered world. Microsoft's commitment to Open Source communities extends to the Java ecosystem, and supporting the AdoptOpenJDK effort is part of our mission to empower developers of all programming languages. With Azure, Java developers can find Cloud solutions for developing, building, and running applications, in ways that will increase their productivity, and free them to do more.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://www.ocadotechnology.com/"><img src="dist/assets/ocado.svg" alt="Ocado Logo"></a></td>
        <td><a target="_blank" href="https://www.ocadotechnology.com/">Ocado Technology</a> develops the innovative software and systems that power the online grocery retail platforms of Ocado and Morrisons in the UK and other grocers worldwide. Through our Ocado Smart Platform, we aim to provide retail businesses around the world with an integrated end-to-end platform for e-commerce, fulfilment and logistics. Open source software, and in particular the Java language, have been critical aspects in our technology journey, enabling us to effectively develop and maintain world-class solutions. Java's adaptability has allowed us to apply it across our technology estate, from our award-leading online grocery store, through to our real-time warehouse control systems. We are proud to be sponsoring the AdoptOpenJDK project and helping to ensure that Java maintains its position as a leading language for many years to come.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://packet.net"><img src="dist/assets/packet.png" alt="Packet logo"></a></td>
        <td><a target="_blank" href="https://packet.net">Packet</a> is passionate about building a better internet. Our specialty is automating fundamental infrastructure. With premium Intel and ARMv8 based server configurations that provision in 8 minutes
          or less, the Packet platform brings the promise of the virtualized cloud to bare metal - offering the ultimate in performance, portability, and scalability for modern workloads. The company also operates an advanced software defined network
          and offers private deployments for enterprise customers. Packet currently serves a global client base from data centers in Parsippany (NJ), Sunnyvale (CA), Amsterdam (NL) and Tokyo (JP).</td>
      </tr>
      <tr>
    </table>

    <div class="anchor" onmouseover="document.getElementById('anchor2').style.visibility='visible'" onmouseout="document.getElementById('anchor2').style.visibility='hidden'"><a href="#tier-2-sponsors" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor2" name="anchor" alt="anchor icon"></a>
      <h2 class="bold margin-top-4"><a id="tier-2-sponsors">Tier-2 Sponsors</a></h2>
    </div>
    <p>The AdoptOpenJDK Foundation's Tier-2 infrastructure providers fill essential gaps in architecture and operating system variations and shoulder some of the burden from the tier-1 providers, contributing to availability and speed in our CI system. (Listed
      alphabetically).
    </p>
    <table class="sponsor-table" notranslate>
      <tr>
        <td><a target="_blank" href="https://www.digitalocean.com/"><img src="dist/assets/digitalocean.png" alt="DigitalOcean logo"></a></td>
        <td>Our cloud computing platform was built with simplicity at the forefront, so managing infrastructure is easy, whether your business is running one virtual machine or ten thousand. <a target="_blank" href="https://www.digitalocean.com/">Digital Ocean</a>          gets out of your way so teams can build, deploy, and scale cloud applications faster and more efficiently.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://www.joyent.com/"><img src="dist/assets/joyent.png" alt="Joyent logo"></a></td>
        <td><a target="_blank" href="https://www.joyent.com/">Triton</a> is 100% open source and designed to eliminate cloud provider lock-in. With support for popular container management tools like Kubernetes, augmented by our own open source project ContainerPilot,
          we are working with the community to deliver simple to operate platform services that are open and portable.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://linaro.org"><img src="dist/assets/linaro.png" alt="Linaro logo"></a></td>
        <td><a target="_blank" href="https://linaro.org/">Linaro</a> is leading collaboration on open source development in the ARM ecosystem. The company has over 250 engineers working on consolidating and optimizing open source software for the ARM architecture,
          including developer tools, the Linux kernel, ARM power management, and other software infrastructure. Linaro is distribution neutral: it wants to provide the best software foundations to everyone by working upstream, and to reduce non-differentiating
          and costly low level fragmentation. The effectiveness of the Linaro approach has been demonstrated by Linaro’s growing membership, and by Linaro consistently being listed as one of the top five company contributors, worldwide, to Linux kernels
          since 3.10.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="http://www.macincloud.com/"><img src="dist/assets/macincloud.png" alt="MacinCloud logo"></a></td>
        <td><a target="_blank" href="http://www.macincloud.com/">MacinCloud</a> provides comprehensive "Mac in the Cloud" solutions: Cloud Mac for App developers and home users; Mac servers for enterprise builds and school classes. All backed by genuine Mac
          hardware hosted around the globe. <a target="_blank" href="https://portal.macincloud.com/select/#/plans">Sign up</a> and use a Mac in the Cloud!</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://www.macstadium.com"><img src="dist/assets/macstadium.png" alt="MacStadium logo"></a></td>
        <td><a target="_blank" href="https://www.macstadium.com">MacStadium</a> is the leading managed Mac hosting solution in the world offering individuals and organizations of all sizes to colocate and rent dedicated Mac servers and Mac private cloud environments
          hosted in data centers around the world. We’re an experienced, driven team of technology enthusiasts striving to provide the best Mac hosting experience to all users. If you need a couple of Mac build servers, you can rent a
          <a target="_blank" href="https://www.macstadium.com/mac-mini/">Mac mini</a> or <a target="_blank" href="https://www.macstadium.com/mac-pro/">Mac Pro</a>. For many folks, including AdoptOpenJDK, this is a great route. For others interested in
          paying a bit more for automation and scalability, see <a target="_blank" href="https://www.macstadium.com/cloud/">Mac Private Cloud</a>.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://scaleway.com"><img src="dist/assets/scaleway.png" alt="Scaleway logo"></a></td>
        <td><a target="_blank" href="http://www.scaleway.com">Scaleway</a> is a pioneer in the BareMetal cloud computing industry. Created in 2015, Scaleway is the sole cloud provider worldwide to provide on-demand BareMetal servers designed by their own
          engineering teams. All their components are carefully selected to always provide the most reliable and cost-effective solutions. Scaleway now offers a full range of Compute, Storage and Networking services for infrastructure of all sizes, from
          development platform to large-scale mission-critical deployments. For more information, visit <a target="_blank" href="http://www.scaleway.com">scaleway.com</a>.</td>
      </tr>
    </table>

    <div class="anchor align-center" onmouseover="document.getElementById('anchor3').style.visibility='visible'" onmouseout="document.getElementById('anchor3').style.visibility='hidden'"><a href="#supporters" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor3" name="anchor" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="supporters">Supporters</a></h2>
    </div>
    <p class="align-center">Companies that have provided donations to help with the build farm efforts. (Listed alphabetically).</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://www.etnetera.cz/"><img src="dist/assets/etnetera.png" alt="Etnetera logo"></a></td>
        <td><a target="_blank" href="https://www.lightbend.com/"><img src="dist/assets/lightbend.png" alt="Lightbend logo"></a></td>
    </table>

    <div class="anchor align-center" onmouseover="document.getElementById('anchor4').style.visibility='visible'" onmouseout="document.getElementById('anchor4').style.visibility='hidden'"><a href="#supporting-services" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor4" name="anchor" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="supporting-services">Supporting Services</a></h2>
    </div>
    <p class="align-center">(Listed alphabetically)</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://cloudflare.com"><img src="dist/assets/cloudflare.png" alt="Cloudflare logo"></a></td>
        <td><a target="_blank" href="https://www.digicert.com/"><img src="dist/assets/digicert.png" alt="DigiCert logo"></a></td>
        <td><a target="_blank" href="https://github.com"><img src="dist/assets/github-sponsor.png" alt="GitHub logo"></a></td>
        <td><a target="_blank" href="https://installbuilder.bitrock.com/"><img src="dist/assets/installBuilder.png" alt="installBuilder logo"></a></td>
        <td><a target="_blank" href="https://localizejs.com/"><img src="dist/assets/localize.png" alt="Localize logo"></a></td>
        <td><a target="_blank" href="https://slack.com"><img src="dist/assets/slack-long.png" alt="Slack logo"></a></td>
      </tr>
    </table>
  </div>

</main>

{{> footer }}
