{{> header title='Sponsors | ' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Sponsors</h1>

  <div class="info-page-container sponsors blue-link-section">
    <p>AdoptOpenJDK is proud to receive contributions from many companies, both in the form of monetary contributions in exchange for membership or in-kind contributions for required resources.</p>
    <div class="callout">
      <h3 class="bold">Want to become a sponsor?</h3>
      <p>We are always looking for sponsors to help us with the ongoing costs of keeping the project running. Without these kind donations the project wouldn't be able to run. Drop us an <a target="_blank" href="mailto:sponsorship@adoptopenjdk.net">email</a> to find out more.</p>
    </div>

    <div class="anchor">
      <a href="#platinum-sponsors" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4"><a id="platinum-sponsors">Platinum Sponsors</a></h2>
    </div>
    <p>Platinum sponsors provide the largest financial donations or contribute the largest share of infrastructure to the AdoptOpenJDK project. Without these companies, the project would not be able to provide the quality, speed and availability
      of test coverage that it does today. (Listed alphabetically).</p>
    <table class="sponsor-table" notranslate>
      <tr>
        <td><a target="_blank" href="https://www.azul.com/"><img src="dist/assets/azul.png" alt="Azul Logo"></a></td>
        <td>Since its founding in 2002, <a target="_blank" href="https://www.azul.com/">Azul Systems</a> has been exclusively focused on Java, and on producing high quality JDKs, JREs, and JVMs.  We are active contributors to OpenJDK, serve on the JCP Executive Committee and JSR expert groups, and are members or project leads in OpenJDK projects including the OpenJDK Vulnerability Group. Azul produces free community builds of OpenJDK with <a target="_blank" href="https://www.azul.com/downloads/zulu/">Zulu</a> and provides commercial support for builds of OpenJDK with its  <a target="_blank" href="https://www.azul.com/products/zulu-enterprise/">Zulu Enterprise</a> and <a target="_blank" href="https://www.azul.com/products/zulu-embedded/">Zulu Embedded</a> offerings, which include timely security updates, bug fixes, long term availability & updates of builds, and access to our award-winning Support team.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://godaddy.com"><img src="dist/assets/GoDaddy.png" alt="GoDaddy Logo"></a></td>
        <td><a target="_blank" href="https://godaddy.com">GoDaddy</a> powers the world's largest cloud platform dedicated to small, independent ventures. With over 18 million customers worldwide and more than 77 million domain names under management, GoDaddy is the place people come to name their idea, build a professional website, attract customers and manage their work. Our mission is to give our customers the tools, insights and the people to transform their ideas and personal initiative into success. To learn more about the company visit <a target="_blank" href="https://godaddy.com">GoDaddy.com</a>.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://www.ibm.com"><img src="dist/assets/ibm.svg" alt="IBM logo"></a></td>
        <td>For 20+ years, <a target="_blank" href="https://www.ibm.com">IBM</a> has been one of the largest investors and contributors to the Java platform, and an active member of the developer community. IBM offers a comprehensive portfolio of solutions,
          services and systems for Java developers supporting mobile, web, cognitive, analytics and IoT. IBM Cloud offers Java developers a robust, cloud-development platform to speed app development, including access to enterprise services and APIs,
          and scalable hosting in hybrid, public, dedicated and/or on premise environments.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://azure.microsoft.com/"><img src="dist/assets/microsoft.png" alt="Azure logo"></a></td>
        <td><a target="_blank" href="https://azure.microsoft.com/">Microsoft Azure</a> believes that all individuals and groups should be empowered with the full freedom and power of the cloud. Azure offers the trust, transparency, and humanity that all developer communities need to navigate, thrive, and endure in this increasingly cloud-powered world. Microsoft's commitment to Open Source communities extends to the Java ecosystem, and supporting the AdoptOpenJDK effort is part of our mission to empower developers of all programming languages. With Azure, Java developers can find Cloud solutions for developing, building, and running applications, in ways that will increase their productivity, and free them to do more.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://www.ocadotechnology.com/"><img src="dist/assets/ocado.svg" alt="Ocado Logo"></a></td>
        <td><a target="_blank" href="https://www.ocadotechnology.com/">Ocado Technology</a> develops the innovative software and systems that power the online grocery retail platforms of Ocado and Morrisons in the UK and other grocers worldwide. Through our Ocado Smart Platform, we aim to provide retail businesses around the world with an integrated end-to-end platform for e-commerce, fulfilment and logistics. Open source software, and in particular the Java language, have been critical aspects in our technology journey, enabling us to effectively develop and maintain world-class solutions. Java's adaptability has allowed us to apply it across our technology estate, from our award-leading online grocery store, through to our real-time warehouse control systems. We are proud to be sponsoring the AdoptOpenJDK project and helping to ensure that Java maintains its position as a leading language for many years to come.</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://packet.net"><img src="dist/assets/packet.png" alt="Packet logo"></a></td>
        <td><a target="_blank" href="https://packet.net">Packet</a> is passionate about building a better internet. Our specialty is automating fundamental infrastructure. With premium Intel and ARMv8 based server configurations that provision in 8 minutes
          or less, the Packet platform brings the promise of the virtualized cloud to bare metal - offering the ultimate in performance, portability, and scalability for modern workloads. The company also operates an advanced software defined network
          and offers private deployments for enterprise customers. Packet currently serves a global client base from data centers in Parsippany (NJ), Sunnyvale (CA), Amsterdam (NL) and Tokyo (JP).</td>
      </tr>
      <tr>
        <td><a target="_blank" href="https://pivotal.io"><img src="dist/assets/pivotal.svg" alt="Pivotal logo"></a></td>
        <td>
          <a target="_blank" href="https://pivotal.io">Pivotal</a> sponsors <a href="https://pivotal.io/spring-app-framework" target="_blank">Spring</a>,
          the most popular and complete application development framework for enterprise Java. Spring projects provide comprehensive infrastructure
          support for developing Java applications. Millions of developers use the <a target="_blank" href="https://spring.io">Spring Framework</a>,
          <a target="_blank" href="https://spring.io/projects/spring-boot">Spring Boot</a>, and <a target="_blank" href="https://spring.io/projects/spring-cloud">Spring Cloud</a>
          to build modern Web and enterprise applications. The company has also simplified the packaging and distribution of Java through its
          work with <a href="https://docs.cloudfoundry.org/buildpacks/java/" target="_blank">Cloud Foundry Buildpacks</a>. Pivotal is an active member
          in the broader open-source community, and its engineers participate in <a href="https://pivotal.io/open-source" target="_blank">several different projects</a>.
        </td>
      </tr>
    </table>

    <div class="anchor align-center">
      <a href="#gold-sponsors" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="gold-sponsors">Gold Sponsors</a></h2>
    </div>
    <p class="align-center">AdoptOpenJDK Gold sponsors help fill essential gaps in architecture and operating system variations and shoulder some of the burden from the platinum sponsors, contributing to availability and speed in our CI system. (Listed alphabetically).</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://www.delphix.com/"><img src="dist/assets/delphix.png" alt="Delphix logo"></a></td>
        <td><a target="_blank" href="https://www.jclarity.com/"><img src="dist/assets/jclarity.png" alt="jClarity Logo"></a></td>
        <td><a target="_blank" href="https://www.joyent.com/"><img src="dist/assets/joyent.png" alt="Joyent logo"></a></td>
        <td><a target="_blank" href="http://londonjavacommunity.co.uk/"><img src="dist/assets/ljc.png" alt="London Java Community (LJC) logo"></a></td>
        <td><a target="_blank" href="https://www.snyk.io/"><img src="dist/assets/snyk.png" alt="Snyk logo"></a></td>
    </table>

    <div class="anchor align-center">
      <a href="#silver-sponsors" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="silver-sponsors">Silver Sponsors</a></h2>
    </div>
    <p class="align-center">(Listed alphabetically).</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://www.digicert.com/"><img src="dist/assets/digicert.png" alt="DigiCert logo"></a></td>
    </table>

    <div class="anchor align-center">
      <a href="#bronze-sponsors" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="bronze-sponsors">Bronze Sponsors</a></h2>
    </div>
    <p class="align-center">(Listed alphabetically).</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://www.digitalocean.com/"><img src="dist/assets/digitalocean.png" alt="DigitalOcean logo"></a></td>
        <td><a target="_blank" href="https://www.etnetera.cz/"><img src="dist/assets/etnetera.png" alt="Etnetera logo"></a></td>
        <td><a target="_blank" href="https://linaro.org"><img src="dist/assets/linaro.png" alt="Linaro logo"></a></td>
        <td><a target="_blank" href="https://www.macincloud.com/"><img src="dist/assets/macincloud.png" alt="MacinCloud logo"></a></td>
    </table>

    <div class="anchor align-center">
      <a href="#supporting-services" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold margin-top-4 align-center" style="margin-bottom: 0;"><a id="supporting-services">Supporting Services</a></h2>
    </div>
    <p class="align-center">(Listed alphabetically)</p>
    <table id="services-grid">
      <tr>
        <td><a target="_blank" href="https://cloudflare.com"><img src="dist/assets/cloudflare.png" alt="Cloudflare logo"></a></td>
        <td><a target="_blank" href="https://github.com"><img src="dist/assets/github-sponsor.png" alt="GitHub logo"></a></td>
        <td><a target="_blank" href="https://inspiratechnologygroup.com/"><img src="dist/assets/inspira.png" alt="Inspira logo"></a></td>
        <td><a target="_blank" href="https://installbuilder.bitrock.com/"><img src="dist/assets/installBuilder.png" alt="installBuilder logo"></a></td>
        <td><a target="_blank" href="https://jfrog.com/"><img src="dist/assets/artifactory.png" alt="JFrog logo"></a></td>
        <td><a target="_blank" href="https://localizejs.com/"><img src="dist/assets/localize.png" alt="Localize logo"></a></td>
        <td><a target="_blank" href="https://docs.openlabtesting.org/"><img src="dist/assets/openlab.png" alt="OpenLab logo"></a></td>
        <td><a target="_blank" href="https://scaleway.com"><img src="dist/assets/scaleway.png" alt="Scaleway logo"></a></td>
      </tr>
    </table>
  </div>

</main>

{{> footer }}
