{{> header title='Support - AdoptOpenJDK' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Support</h1>

  <div id="support-container">
    <div class="margin-bottom">
      <h2 class="bold">WARNING</h2>
      <p class="support">
        The AdoptOpenJDK OpenJDK binaries are <strong>not</strong> fully tested (i.e. JCK/TCK + further testing) and verified. If you want a formally tested
        and verified Java binary then you can get one from a commercial vendor.
      </p>
    </div>

    <div class="margin-bottom">
      <h2 class="bold">Community Support</h2>
      <p class="support">
        The OpenJDK community does not offer any official support for the binaries produced.  If you do have questions, comments, want to report a bug or
        wish to contribute then choose from one of the options below:
      </p>
    </div>

    <div style="margin-top: 3rem;">
      <a href="http://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
