{{> header title='Support | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Support</h1>

  <div class="align-left support">
    <div class="margin-bottom">
      <h2 class="bold">Quality</h2>
      <p>
        The binaries that AdoptOpenJDK produces have passed the full OpenJDK test suite and other tests (donated by the community)
        ensuring a good quality binary. However, they are <strong>not</strong> JCK/TCK compliant. If you want a formally (JCK/TCK)
        tested and verified Java binary then you can get one from a commercial vendor.
      </p>
    </div>

    <div class="margin-bottom">
      <h2 class="bold">Community Support</h2>
      <p>
        The OpenJDK community does not offer any commercial support for the binaries produced.  If you do have questions, comments, want to report a bug or
        wish to contribute then choose from one of the options below (please post on the mailing list to get access to Slack):
      </p>
    </div>

    <div style="margin-top: 3rem;">
      <a href="http://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://adoptopenjdk.slack.com/" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Ask on Slack&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
