{{> header title='Support | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Support</h1>

  <div class="align-left align">

    <div class="anchor">
      <a href="#community-support" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="community-support">Community Support</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        Read <a href="https://medium.com/@javachampions/java-is-still-free-2-0-0-6b9aa8d6d244">Java Is Still Free (2.0.0)</a>
        for some background information about Java support options. We are prepared to stand behind our release quality binaries, so each
        build that is identified as a <strong>release</strong> receives support via the AdoptOpenJDK community. Our support means
        that you can raise an issue to describe a bug you have found in the build,
        and we will work with you and the appropriate development team to resolve it.
        Any fixes we identify will be delivered as part of the next AdoptOpenJDK release.
      </p>

      <p>
        As a community of open source developers, our commitment is to triage any issues
        raised and champion them in the appropriate source code project.
        Of course, if the problem arises from the way we build and test the code we can fix that directly.
        For higher levels of assurance you should contact commercial companies offering support.
      </p>

    </div>

    <div class="anchor">
      <a href="#commercial-support" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="commercial-support">Commercial Support</a></h2>
    </div>

    <div class="margin-bottom">
      <table class="commercial-table" notranslate>
        <tr>
          <td><a target="_blank" href="https://www.ibm.com"><img src="dist/assets/ibm.svg" alt="IBM logo"></a></td>
          <td>IBM is a core contributor to Eclipse OpenJ9 and employs several of
            the founders of AdoptOpenJDK and key engineers on the AdoptOpenJDK project.
            See <a target="_blank" href="https://www.ibm.com/cloud/support-for-runtimes">IBM Runtimes for Business</a> for more details.</td>
        </tr>
      </table>
    </div>

    <div class="anchor">
      <a href="#roadmap" class="anchor"><img src="dist/assets/anchor.png" alt="anchor icon"></a>
      <h2 class="bold"><a id="roadmap">Release Roadmap</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        The frequency of AdoptOpenJDK releases is guided by the schedule of our dependencies.
        We produce builds based upon source code at <a href="https://openjdk.java.net" target="_blank">OpenJDK</a>,
        <a href="https://www.eclipse.org/openj9/" target="_blank">Eclipse OpenJ9</a>,
        <a href="https://aws.amazon.com/corretto/" target="_blank">Amazon Corretto</a>,
        <a href="https://sap.github.io/SapMachine/" target="_blank">SAP Machine</a>
        and <a href="https://github.com/alibaba/dragonwell11" target="_blank">Alibaba Dragonwell</a>.
      </p>
      <p>
        OpenJDK and Eclipse OpenJ9 provide a new feature release every six months, and a maintenance/security update based upon each
        active release every three months. The release dates for those from the OpenJDK project are the
        <a href="https://www.oracle.com/security-alerts/">Tuesdays closest to the
        17th</a> of January, April, July and October.
        We will follow this schedule for publishing binary releases from AdoptOpenJDK to ensure you get the latest, most secure builds.
      </p>
      <p>
        In addition, every three years one feature release will be designated as a Long Term Supported (LTS) release.
        We will produce LTS releases for at least four years. This assurance will allow you to stay on a well-defined code stream,
        and give you time to migrate to the next, new, stable, LTS release when it becomes available.
      </p>
      <p>Based upon this roadmap, and starting with Java 8 (currently supported releases in bold)
      here is the timetable for the various releases:</p>
      <table>
        <tr>
          <th colspan=2>First Availability</th>
          <th>Latest Release</th>
          <th>Next Release</th>
          <th>End of Availability <sup>[1]</sup></th>
        </tr>
        <tr>
          <td><strong>Java 8 (LTS)</strong></td>
          <td><strong>Mar 2014</strong></td>
          <td>
              <strong>jdk8u292-b10<br/>
              20th Apr 2021</strong>
          </td>
          <td>
              <strong>jdk8u302<br/>
              20th Jul 2021</strong>
          </td>
          <td><strong>At Least May 2026 <sup>[1]</sup></strong></td>
        </tr>
        <tr>
          <td>Java 9</td>
          <td>September 2017</td>
          <td>jdk-9.0.4+11<br/>
             16th January 2018</td>
          <td>N/A</td>
          <td>Mar 2018</td>
        </tr>
        <tr>
          <td>Java 10</td>
          <td>Mar 2018</td>
          <td>jdk-10.0.2+13<br/>
              17th Jul 2018</td>
          <td>N/A</td>
          <td>September 2018</td>
        </tr>
        <tr>
          <td><strong>Java 11 (LTS)</strong></td>
          <td><strong>September 2018</strong></td>
          <td>
            <strong>jdk-11.0.11+9<br/>
              20th Apr 2021</strong>
          </td>
          <td>
            <strong>jdk-11.0.12<br/>
              20th Jul 2021</strong>
          </td>
          <td><strong>At Least Oct 2024 <sup>[1]</sup></strong></td>
        </tr>
        <tr>
          <td>Java 12</td>
          <td>Mar 2019</td>
          <td>jdk-12.0.2+10<br/>
              16th Jul 2019</td>
          <td>N/A</td>
          <td>September 2019</td>
        </tr>
        <tr>
          <td>Java 13</td>
          <td>September 2019</td>
          <td>
            jdk-13.0.2+8<br/>
              14th Jan 2020
          </td>
          <td>N/A</td>
          <td>Mar 2020</td>
        </tr>
        <tr>
          <td>Java 14</td>
          <td>Mar 2020</td>
          <td>
            jdk-14.0.2+12<br/>
              14th Jul 2020
          </td>
          <td>N/A</td>
          <td>Sep 2020</td>
        </tr>
        <tr>
          <td>Java 15</td>
          <td>Sep 2020</td>
          <td>
            jdk-15.0.2+7<br/>
            20th Oct 2020
          </td>
          <td>
            N/A</td>
          <td>Mar 2021</td>
        </tr>
        <tr>
          <td><strong>Java 16</strong></td>
          <td><strong>Mar 2021</strong></td>
          <td>
            <strong>jdk-16.0.1+9<br/>
              20th Apr 2021</strong><br/>
          </td>
          <td>
            <strong>jdk-16.0.2<br/>
              20th Jul 2021</strong></td>
          <td><strong>Sep 2021</strong></td>
        </tr>
        <tr>
          <td>Java 17 (LTS)</td>
          <td>Sep 2021</td>
          <td>
            N/A<br/>
          </td>
          <td>
            jdk-17<br/>
            14th Sep 2021
          </td>
          <td>TBC<sup>[1]</sup></td>
        </tr>

      </table>
      <p style="margin-top: 3rem" role="contentinfo">
        Notes:
        <br/><sup>[1]</sup> - As a general philosophy, AdoptOpenJDK will continue to build binaries for LTS releases as long as the corresponding upstream source is actively maintained.
        The <a href="https://www.eclipse.org/openj9/docs/openj9_support/">Eclipse OpenJ9 Support Document</a> covers extra support info for that VM.
      </p>
    </div>

    <div style="margin-top: 3rem;">
      <a href="./quality.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Quality&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="./supported_platforms.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Supported Platforms&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-support/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
