{{> header title='Support | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Support</h1>

  <div class="align-left support">

    <div class="anchor" onmouseover="document.getElementById('anchor1').style.visibility='visible'" onmouseout="document.getElementById('anchor1').style.visibility='hidden'"><a href="#community-support" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor1" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="support-levels">Community Support</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        Read <a href="https://medium.com/@javachampions/java-is-still-free-c02aef8c9e04">Java Is Still Free</a>
        for some background information. We are prepared to stand behind our release quality binaries, so each
        build that is identified as a <strong>release</strong> receives support via the AdoptOpenJDK community. Our support means
        that you can raise an issue to describe a bug you have found in the build,
        and we will work with you and the appropriate development team to resolve it.
        Any fixes we identify will be delivered as part of the next AdoptOpenJDK release.
      </p>

      <p>
        As a community of open source developers, our commitment is to triage any issues
        raised and champion them in the appropriate source code project.
        Of course, if the problem arises from the way we build and test the code we can fix that directly.
        For higher levels of assurance you should contact commercial companies offering support.
      </p>
    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor2').style.visibility='visible'" onmouseout="document.getElementById('anchor2').style.visibility='hidden'"><a href="#commercial-support" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor2" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="support-levels">Commercial Support</a></h2>
    </div>

    <div class="margin-bottom">
      <table class="commercial-table" notranslate>
        <tr>
          <td><a target="_blank" href="https://www.ibm.com"><img src="dist/assets/ibm.png" alt="IBM logo"></a></td>
          <td><strong>OpenJ9 VM</strong> - IBM is a core contributor to Eclipse OpenJ9 and employs several
            of the founders of AdoptOpenJDK and key engineers on the AdoptOpenJDK project.
            See <a target="_blank" href="https://www.ibm.com/cloud/support-for-runtimes">Support For RunTimes</a> for more details.</td>
        </tr>

        <tr>
          <td><a target="_blank" href="https://www.jclarity.com/"><img src="dist/assets/jclarity.png" alt="jClarity Logo"></a></td>
          <td><strong>Hotspot VM</strong> - jClarity employs several of the founders of AdoptOpenJDK
            and key engineers on the AdoptOpenJDK project.  Contact <a href="mailto:support@jclarity.com">support@jclarity.com</a> for more details.</td>
        </tr>
      </table>
    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor3').style.visibility='visible'" onmouseout="document.getElementById('anchor3').style.visibility='hidden'"><a href="#quality" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor3" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="quality">Quality</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        AdoptOpenJDK builds and tests binaries for different source code streams based upon OpenJDK.
        Our binaries undergo extensive testing, and are made available with two distinct quality
        levels - <strong>release</strong> and <strong>nightly</strong>.</br>
        </br>
        <strong>Releases</strong> have passed all the available OpenJDK test suites and our additional
        tests (donated by the community), ensuring the best quality binary available. We recommend you
        choose releases for running your applications.
        </br>
        </br><strong>Nightly</strong> builds have passed basic quality level testing. The nightlies
        may include functionality and implementations that are unstable, or have not had the benefit
        of long running tests. Use these nightlies if you wish to check the very latest capabilities
        and fixes, and to see what is coming in the next release.
      </p>
    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor4').style.visibility='visible'" onmouseout="document.getElementById('anchor4').style.visibility='hidden'"><a href="#platform-support-matrix" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor4" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="support">Platform Support Matrix</a></h2>
    </div>
    <div class="margin-bottom">

        <h3 id="openjdk8_platforms">OpenJDK 8</h3>
        <p>Where available, OpenJDK 8 binaries are supported on the minimum operating system levels shown in the following tables:</p>

        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HotSpot VM</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>OpenJ9 VM</td>
                    <td><i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

        </br>

        <table>
            <thead>
                <tr>
                    <th>Linux</th>
                    <th>x64</th>
                    <th>ppc64le</th>	
                    <th>s390x</th>
                    <th>aarch64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Centos 6.9</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Centos 7.4</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>Red Hat Enterprise Linux (RHEL) 6.9</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>RHEL 7.4</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>SUSE Linux Enterprise Server (SLES) 12</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ubuntu 16.04</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>Ubuntu 18.04</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
            </tbody>
        </table>

        <p><strong>Note:</strong> Any other Linux distributions that have a minimum glibc version 2.12 on x86 or version glibc version 2.17 on other architectures are expected to function without problems.</p>

        <table>
            <thead>
                <tr>
                    <th>Windows</th>
                    <th>x32</th>
                    <th>x64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Windows 7 SP1</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows 8</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows 8.1</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows 10</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows Server 2012</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows Server 2012 R2</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows Server 2016</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

        </br>

        <table>
            <thead>
                <tr>
                    <th>macOS</th>
                    <th>x64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>OSX 10.10+</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

        </br>

        <table>
            <thead>
                <tr>
                    <th>AIX</th>
                    <th>ppc64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AIX 7.1 TL4</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>AIX 7.2</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

        <h3 id="openjdk11_platforms">OpenJDK 11</h3>

        <p>Where available, OpenJDK 11 binaries are supported on the minimum operating system levels shown in the following tables:</p>

        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HotSpot VM</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>OpenJ9 VM</td>
                    <td><i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

        </br>

        <table>
            <thead>
                <tr>
                    <th>Linux</th>
                    <th>x64</th>
                    <th>ppc64le</th>
                    <th>s390x</th>
                    <th>aarch32</th>
                    <th>aarch64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Centos 6.9</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Centos 7.4</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>                    
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>RHEL 6.9</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>RHEL 7.4</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>SLES 12</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ubuntu 16.04</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>                    
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
                <tr>
                    <td>Ubuntu 18.04</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                    <td></td>                    
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                </tr>
            </tbody>
        </table>

        <p><strong>Note:</strong> Any other Linux distributions that have a minimum glibc version 2.12 on x86 or version glibc version 2.17 on other architectures are expected to function without problems.</p>

        <table>
            <thead>
                <tr>
                    <th>Windows</th>
                    <th>x32</th>
                    <th>x64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Windows 7 SP1</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows 8</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows 8.1</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows 10</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>			
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows Server 2012</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows Server 2012 R2</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>Windows Server 2016</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span></td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

        </br>

        <table>
            <thead>
                <tr>
                    <th>macOS</th>
                    <th>x64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>OSX 10.10+</td>
                    <td><i class="fa fa-star-o hotspot" aria-hidden="true"></i><span class="sr-only">Hotspot VM</span> <i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

        </br>

        <table>
            <thead>
                <tr>
                    <th>AIX</th>
                    <th>ppc64</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AIX 7.1 TL4</td>
                    <td><i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
                <tr>
                    <td>AIX 7.2</td>
                    <td><i class="fa fa-star-o openj9" aria-hidden="true"></i><span class="sr-only">OpenJ9 VM</span></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor5').style.visibility='visible'" onmouseout="document.getElementById('anchor5').style.visibility='hidden'"><a href="#roadmap" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor5" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="roadmap">Release Roadmap</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        The frequency of AdoptOpenJDK releases is guided by the schedule of our dependencies.
        We produce builds based upon source code at <a href="https://openjdk.java.net" target="_blank">OpenJDK</a>,
        <a href="https://www.eclipse.org/openj9/" target="_blank">Eclipse OpenJ9</a>,
        and <a href="https://sap.github.io/SapMachine/" target="_blank">SAP Machine</a>.
        </br>
        </br>OpenJDK provides a new feature release every six months, and a maintenance/security update based upon each active release every three months. We will follow this schedule for publishing binary releases from AdoptOpenJDK to ensure you get the latest,
        most secure builds.
        </br>
        </br>In addition, every three years one feature release will be designated as the Long Term Supported (LTS) release. We will produce LTS releases for at least four years. This assurance will allow you to stay on a well-defined code stream, and give
        you time to migrate to the next, new, stable, LTS release when it becomes available.
        </br>
        </br>Based upon this roadmap, and starting with Java 8:
      </p>
      <table>
        <tr>
          <th></th>
          <th>First Availability</th>
          <th>End of Availability [1]</th>
        </tr>
        <tr>
          <td>Java 8 (LTS)</td>
          <td>March 2014</td>
          <td><strong>At Least Sep 2023</strong> [2]</td>
        </tr>
        <tr>
          <td>Java 9</td>
          <td>Sept 2017</td>
          <td>March 2018</td>
        </tr>
        <tr>
          <td>Java 10</td>
          <td>March 2018</td>
          <td>Sept 2018</td>
        </tr>
        <tr>
          <td>Java 11 (LTS)</td>
          <td><strong>Sept 2018</strong></td>
          <td><strong>At Least Sept 2022</strong> [2]</td>
        </tr>
      </table>
      <p>
        </br>Notes:
        </br>[1] As a general philosophy, AdoptOpenJDK will continue to build binaries for LTS releases as long as the corresponding upstream source is actively maintained.
        </br>
        </br>[2] We fully expect that OpenJDK8 will have open community maintainers beyond January 2019, so we expect to be able to continue supporting JDK8 beyond that date. Until maintainers have been established we are unable to make a definitive statement. This position is the same for JDK11 and all future "LTS" releases.
        The <a href="https://www.eclipse.org/openj9/docs/openj9_support/">Eclipse OpenJ9 Support Document</a> covers extra support info for that VM.
      </p>
    </div>

    <div class="anchor" onmouseover="document.getElementById('anchor6').style.visibility='visible'" onmouseout="document.getElementById('anchor6').style.visibility='hidden'"><a href="#jck" class="anchor">
      <img src="dist/assets/anchor.png" id="anchor6" name="anchor" alt="anchor icon"></a>
      <h2 class="bold"><a id="jck">Java Compatibility Kit (JCK) / TCK Compliance</a></h2>
    </div>
    <div class="margin-bottom">
      <p>
        At this stage the London Jamocha Community CIC (aka LJC) has not been able to reach an
        agreement with Oracle to use the Java SE Technology Compatibility Kit (TCK)
        under the terms of the OpenJDK Community TCK License Agreement (OCTLA).</br>
        </br>
        We will continue to work with Oracle on this matter.</br>
        </br>
        All AdoptOpenJDK binaries are tested with our suite of functional, integration,
        and performance tests, including real workloads from popular libraries
        frameworks, languages and applications. We remain confident in the quality
        of our builds.
      </p>
    </div>

    <div style="margin-top: 3rem;">
      <!--
      <a href="https://mail.openjdk.java.net/mailman/listinfo/adoption-discuss" id="dev-button" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Mailing List&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      -->
      <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Submit an Issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="slack.html" class="no-underline home-links">
        <h2 class="inline-block zero-margin">Ask a question on Slack&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>

</main>

{{> footer }}
