{{> header title='Testimonials | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg testimonials">

  <h1 class="margin-bottom large-title">Testimonials</h1>


  <div class="info-page-container">

    <div class="callout">
      <h3 class="bold">Does your company use AdoptOpenJDK binaries?</h3>
      Submit a pull request <a href="https://github.com/AdoptOpenJDK/openjdk-website/tree/master/src/handlebars/testimonials.handlebars">here</a> to get your logo added!
    </div>

    <div class="customers">

      <!-- WANTING TO ADD A NEW LOGO? ADD A NEW DIV LIKE THE ONE BELOW:

      <div class="clients">
        <img src="dist/assets/<logo_name_here>.png" alt="logo" />
      </div>

      ALPHABETICAL ORDER PLEASE! -->

      <div class="clients">
        <img src="dist/assets/delphix.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/godaddy.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="https://static1.squarespace.com/static/5bd044bab9144922c00d916f/t/5bf2828288251b677d012680/1546957937267/?format=500w" alt="logo" />
      </div>

      <div class="clients">
        <img src="https://www.tirasa.net/images/logo.svg" alt="logo" />
      </div>

      <div class="clients">
        <img src="http://www.fream.pl/wp-content/uploads/2017/08/logo.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="http://ww1.prweb.com/prfiles/2017/08/25/14553568/ortus-large.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="https://sitevision.com/wp-content/uploads/2015/07/lucee-logo-3-e1436197667203.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/500px-Intel-logo.svg.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/ibm.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/packet.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/joyent.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/scaleway.png" alt="logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/jclarity.png" alt="logo" />
      </div>
    </div>

  </div>

</main>

{{> footer }}
