{{> header title='Testimonials | ' }}

<main class="grey-bg testimonials">

  <h1 class="large-title">Testimonials</h1>

  <div class="info-page-container">

    <!-- <h2>AdoptOpenJDK used in production here</h2> -->

    <div class="customers">

      <!-- WANTING TO ADD A NEW LOGO? ADD A NEW DIV LIKE THE ONE BELOW:

      <div class="clients">
        <img src="dist/assets/<logo_name_here>.png" alt="logo" />
      </div>

      ALPHABETICAL ORDER PLEASE! -->

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bol.com_logo.svg/500px-Bol.com_logo.svg.png" alt="Delphix Logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/delphix.png" alt="Delphix Logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/etnetera.png" alt="Delphix Logo" />
      </div>

      <div class="clients">
        <img src="http://www.fream.pl/wp-content/uploads/2017/08/logo.png" alt="Fream logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/godaddy.png" alt="GoDaddy logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/ibm.png" alt="IBM logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/500px-Intel-logo.svg.png" alt="Intel logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/jclarity.png" alt="jClarity logo" />
      </div>

      <div class="clients">
        <img src="https://dev.karakun.com/assets/logo.png" alt="Karakun logo" />
      </div>

      <div class="clients">
        <img src="https://sitevision.com/wp-content/uploads/2015/07/lucee-logo-3-e1436197667203.png" alt="Lucee logo" />
      </div>

      <div class="clients">
        <img src="https://www.myview.de/_Resources/Static/Packages/Medienreaktor.Site/Images/LogoMyview.png" alt="myview logo" />
      </div>

      <div class="clients">
        <img src="https://static1.squarespace.com/static/5bd044bab9144922c00d916f/t/5bf2828288251b677d012680/1546957937267/?format=500w" alt="Ocado logo" />
      </div>

      <div class="clients">
        <img src="http://ww1.prweb.com/prfiles/2017/08/25/14553568/ortus-large.png" alt="Ortus logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pivotal-OnLight.svg/500px-Pivotal-OnLight.svg.png" alt="Pivotal logo" />
      </div>

      <div class="clients">
        <img src="https://www.tirasa.net/images/logo.svg" alt="Tirasa logo" />
      </div>

    </div>

  </div>

</main>

{{> footer }}
