{{> header title='Testimonials | ' }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />

<main class="grey-bg testimonials">

  <h1 class="large-title">Testimonials</h1>

  <div class="info-page-container">

    <i class="fa fa-quote-left fa-2x pull-left"></i>
    <i class="fa fa-quote-right fa-2x pull-right"></i>

    <div class="testimonials" id=testimonials>

      <div class="testimonial">
        <img src="dist/assets/GoDaddy.png" alt="GoDaddy logo" />
        <div class="quote">
          <p class="align-center max-width">GoDaddy like many companies needed to react to the change in the Java JRE licensing agreement by Oracle in 2018. The vision, test coverage and the convenience factor for our teams made the transition from Oracle’s Java binaries to
            AdoptOpenJDK built binaries easy and our effort completed without incident.</p>
        </div>
      </div>

      <div class="testimonial">
        <img src="https://static1.squarespace.com/static/5bd044bab9144922c00d916f/t/5bf2828288251b677d012680/1546957937267/?format=500w" alt="Ocado logo" />
        <div class="quote">
          <p class="align-center max-width">Moving to the AdoptOpenJDK docker images was as easy as you'd expect, just a one-line change within our Dockerfile and everything worked first time. After months of production use, we've not noticed any differences between the
            AdoptOpenJDK and Oracle binaries. Thank you Adopt for making the migration as simple as possible.</p>
        </div>
      </div>

    </div>

    <h2 class="align-center">Companies that are already using AdoptOpenJDK binaries in production</h2>

    <div id="customers" class="customers">

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/5a/Betfair_logo.svg" alt="Betfair Logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Bol.com_logo.svg" alt="Bol Logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/delphix.png" alt="Delphix Logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/flutter.svg" alt="Flutter Group logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/GoDaddy.png" alt="GoDaddy logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/ibm.svg" alt="IBM logo" />
      </div>

      <div class="clients">
        <img src="https://www.ideati.net/wp-content/uploads/2014/09/ideati.png" alt="Ideati logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Micro_Focus_logo.svg" alt="Micro Focus  Logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/640px-Microsoft_logo_%282012%29.svg.png" alt="Microsoft logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/45/MongoDB-Logo.svg" alt="MongoDB logo" />
      </div>

      <div class="clients">
        <img src="https://www.myview.de/_Resources/Static/Packages/Medienreaktor.Site/Images/LogoMyview.svg" alt="MyView logo" />
      </div>

      <div class="clients">
        <img src="https://static1.squarespace.com/static/5bd044bab9144922c00d916f/t/5bf2828288251b677d012680/1546957937267/?format=500w" alt="Ocado logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Paddy_Power_logo.png" alt="Paddy Power logo" />
      </div>

      <div class="clients">
        <img src="dist/assets/pivotal.svg" alt="Pivotal logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Soci%C3%A9t%C3%A9_G%C3%A9n%C3%A9rale.svg" alt="Societe Generale logo" />
      </div>

      <div class="clients">
        <img src="https://upload.wikimedia.org/wikipedia/fi/2/23/Telia_logo.svg" alt="Telia logo" />
      </div>
    </div>

    <div class="more-users align-center">
      <a href="./users.html" class="more-logos a-button">
        <p class="full-width">View the full list here</p>
      </a>
    </div>

  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>'}}
