{{> header title='Upstream | ' }}

<!-- TODO Style should match installation page, it doesn't quite... -->
<main class="grey-bg upstream">

  <h1 class="margin-bottom large-title">Upstream Builds</h1>

  <div class="info-page-container upstream blue-link-section">

    <h2>OpenJDK8 Builds</h2>

    <div class="download">
      <h3 class="align-center">JDK 8u212-b02 EA build</h3>
      <table>
        <tr>
          <td>OpenJDK8U-sources_8u212b02_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8U-sources_8u212b02_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8U-sources_8u212b02_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK8U-x64_linux_8u212b02_ea-debuginfo</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8U-x64_linux_8u212b02_ea-debuginfo.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8U-x64_linux_8u212b02_ea-debuginfo.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK8U-x64_linux_8u212b02_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8U-x64_linux_8u212b02_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8U-x64_linux_8u212b02_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK8u-x64_windows_8u212b02_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8u-x64_windows_8u212b02_ea.zip">zip</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b02/OpenJDK8u-x64_windows_8u212b02_ea.zip.sign">signature</a></td>
        </tr>
      </table>
    </div>

    <div class="download">
      <h3 class="align-center">JDK 8u212-b01 EA build</h3>
      <table>
        <tr>
          <td>OpenJDK8U-sources_8u212b01_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8U-sources_8u212b01_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8U-sources_8u212b01_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK8U-x64_linux_8u212b01_ea-debuginfo</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8U-x64_linux_8u212b01_ea-debuginfo.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8U-x64_linux_8u212b01_ea-debuginfo.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK8U-x64_linux_8u212b01_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8U-x64_linux_8u212b01_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8U-x64_linux_8u212b01_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK8u-x64_windows_8u212b01_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8u-x64_windows_8u212b01_ea.zip">zip</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk8-upstream-binaries/releases/download/jdk8u212-b01/OpenJDK8u-x64_windows_8u212b01_ea.zip.sign">signature</a></td>
        </tr>
      </table>
    </div>

    <h2>OpenJDK11 Builds</h2>

    <div class="download">
      <h3 class="align-center">JDK 11.0.3+6 EA build</h3>
      <table>
        <tr>
          <td>OpenJDK11U-sources_11.0.3_6_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-sources_11.0.3_6_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-sources_11.0.3_6_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK11U-x64_linux_11.0.3_6_ea-debuginfo</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-x64_linux_11.0.3_6_ea-debuginfo.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-x64_linux_11.0.3_6_ea-debuginfo.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK11U-x64_linux_11.0.3_6_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-x64_linux_11.0.3_6_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-x64_linux_11.0.3_6_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK11U-x64_windows_11.0.3_6_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-x64_windows_11.0.3_6_ea.zip">zip</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B6/OpenJDK11U-x64_windows_11.0.3_6_ea.zip.sign">signature</a></td>
        </tr>
      </table>
    </div>

    <div class="download">
      <h3 class="align-center">JDK 11.0.3+5 EA build</h3>
      <table>
        <tr>
          <td>OpenJDK11U-sources_11.0.3_5_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B5/OpenJDK11U-sources_11.0.3_5_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B5/OpenJDK11U-sources_11.0.3_5_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK11U-x64_linux_11.0.3_5_ea-debuginfo</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B5/OpenJDK11U-x64_linux_11.0.3_5_ea-debuginfo.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B5/OpenJDK11U-x64_linux_11.0.3_5_ea-debuginfo.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK11U-x64_linux_11.0.3_5_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B5/OpenJDK11U-x64_linux_11.0.3_5_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B5/OpenJDK11U-x64_linux_11.0.3_5_ea.tar.gz.sign">signature</a></td>
        </tr>
      </table>
    </div>

    <div class="download">
      <h3 class="align-center">JDK 11.0.3+4 EA build</h3>
      <table>
        <tr>
          <td>OpenJDK11U-sources_11.0.3_4_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B4/OpenJDK11U-sources_11.0.3_4_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B4/OpenJDK11U-sources_11.0.3_4_ea.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK11U-x64_linux_11.0.3_4_ea-debuginfo</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B4/OpenJDK11U-x64_linux_11.0.3_4_ea-debuginfo.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B4/OpenJDK11U-x64_linux_11.0.3_4_ea-debuginfo.tar.gz.sign">signature</a></td>
        </tr>
        <tr>
          <td>OpenJDK11U-x64_linux_11.0.3_4_ea</td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B4/OpenJDK11U-x64_linux_11.0.3_4_ea.tar.gz">tar.gz</a></td>
          <td><a href="https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/download/jdk-11.0.3%2B4/OpenJDK11U-x64_linux_11.0.3_4_ea.tar.gz.sign">signature</a></td>
        </tr>
      </table>
    </div>

  </div>

</main>

{{> footer }}
