{{> header title='Users | ' }}

<main class="grey-bg testimonials">

  <h1 class="large-title">Users</h1>

  <div class="info-page-container">

    <h2 class="align-center">Companies that are already using AdoptOpenJDK binaries in production</h2>

      <div id="customers" class="customers">

        <!-- WANTING TO ADD A NEW LOGO? ADD A NEW DIV LIKE THE ONE BELOW:

        <div class="clients">
          <img src="dist/assets/<logo_name_here>.png" alt="logo" />
        </div>

        ALPHABETICAL ORDER PLEASE! -->

        <div class="clients">
          <img src="https://alamon.com/wp-content/uploads/2016/04/alamon-header-logo-07.png" alt="Alamon Logo" />
        </div>

        <div class="clients">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Bol.com_logo.svg" alt="Bol Logo" />
        </div>

        <div class="clients">
          <img src="dist/assets/delphix.png" alt="Delphix Logo" />
        </div>

        <div class="clients">
          <img src="dist/assets/etnetera.png" alt="Etnetera Logo" />
        </div>

        <div class="clients">
          <img src="http://www.fream.pl/wp-content/uploads/2017/08/logo.png" alt="Fream Logo" />
        </div>

        <div class="clients">
          <img src="dist/assets/GoDaddy.png" alt="GoDaddy logo" />
        </div>

        <div class="clients">
          <img src="dist/assets/ibm.svg" alt="IBM logo" />
        </div>

        <div class="clients">
          <img src="https://www.ideati.net/wp-content/uploads/2014/09/ideati.png" alt="Ideati logo" />
        </div>

        <div class="clients">
          <img src="dist/assets/inspira.png" alt="Inspira logo" />
        </div>

        <div class="clients">
          <img src="dist/assets/jclarity.png" alt="jClarity logo" />
        </div>

        <div class="clients">
          <img src="https://dev.karakun.com/assets/logo.png" alt="Karakun logo" />
        </div>

        <div class="clients">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Lucee-logo-bw.png" alt="Lucee logo" />
        </div>

        <div class="clients">
          <img src="https://upload.wikimedia.org/wikipedia/en/4/45/MongoDB-Logo.svg" alt="MongoDB logo" />
        </div>

        <div class="clients">
          <img src="https://www.myview.de/_Resources/Static/Packages/Medienreaktor.Site/Images/LogoMyview.svg" alt="MyView logo" />
        </div>

        <div class="clients">
          <img src="http://ww1.prweb.com/prfiles/2017/08/25/14553568/ortus-large.png" alt="Ortus logo" />
        </div>

        <div class="clients">
          <img src="https://upload.wikimedia.org/wikipedia/en/8/81/Paddy_Power_Betfair_logo.svg" alt="PaddyPower Betfair logo" />
        </div>

        <div class="clients">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Pivotal_Software_logo.svg" alt="Pivotal logo" />
        </div>

        <div class="clients">
          <img src="dist/assets/qz.png" alt="QZ logo" />
        </div>

        <div class="clients">
          <img src="https://www.tirasa.net/images/logo.svg" alt="Tirasa logo" />
        </div>

        <div class="clients">
          <img src="https://static1.squarespace.com/static/5a78ccb7dc2b4a2c76787366/t/5a7a2be1652dead5a32a0f8b/1553085704781/?format=500w" alt="Utilus logo" />
        </div>

        <h3>Does your company use AdoptOpenJDK binaries? Submit a Pull Request <a href="https://github.com/AdoptOpenJDK/openjdk-website/blob/master/src/handlebars/users.handlebars" target="_blank">here</a> to have your logo included.</h3>

      </div>

  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>'}}
