{{> header title='Users | ' }}
<main class="grey-bg">

  <h1 class="margin-bottom large-title">Organisations using AdoptOpenJDK!</h1>

  <div class="info-page-container users blue-link-section">

    <p class="align-center">The following organisations trust AdoptOpenJDK binaries in their production environment.</p>

    <table class="users-table" notranslate>
      <tr>
        <td><a target="_blank" href="https://www.ibm.com"><img src="dist/assets/ibm.png" alt="IBM logo"></a></td>
        <td><a target="_blank" href="https://londonjavacommunity.wordpress.com/"><img src="dist/assets/ljc.png" alt="London Java Community (LJC) logo"></a></td>
        <td><a target="_blank" href="https://www.ocadotechnology.com/"><img src="dist/assets/ocado.svg" alt="Ocado Logo"></a></td>
      </tr>
    </table>
  </div>

</main>
{{> footer }}