# Basic dependabot.yml file with
# minimum configuration for two package managers

version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/"
    # Check the npm registry for updates every day (weekdays)
    schedule:
      interval: "daily"
    automerged_updates:
      - match:
        dependency_type: "development"
        # Supported dependency types:
        # - "development"
        # - "production"
        # - "all"
        update_type: "all"
        # Supported updates to automerge:
        # - "security:patch"
        #   SemVer patch update that fixes a known security vulnerability
        # - "semver:patch"
        #   SemVer patch update, e.g. > 1.x && 1.0.1 to 1.0.3
        # - "semver:minor"
        #   SemVer minor update, e.g. > 1.x && 2.1.4 to 2.3.1
        # - "in_range"
        #   matching the version requirement in your package manifest
        # - "all"
      - match:
        dependency_type: "production"
        update_type: "all"    
  # Enable version updates for Docker
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/"
    # Check for updates once a week
    schedule:
      interval: "weekly"
