<footer>
  <div class="margin-auto">
    <div class="footer-icon align-center inline-block">
      <a href="https://adoptopenjdk.slackarchive.io/" target="_blank" class="light-link no-underline">
        <img src="dist/assets/slack.png" alt="" class="footer-logo">
        <p class="margin-auto">Slack</p>
      </a>
    </div>

    <div class="footer-icon align-center inline-block">
      <a href="https://github.com/AdoptOpenJDK" target="_blank" class="light-link no-underline">
        <img src="dist/assets/GitHub.png" alt="" class="footer-logo">
        <p class="margin-auto">GitHub repos</p>
      </a>
    </div>

    <div class="footer-icon align-center inline-block">
      <a href="https://ci.adoptopenjdk.net" target="_blank" class="light-link no-underline">
        <img src="dist/assets/jenkins_headshot.png" alt="" class="footer-logo">
        <p class="margin-auto">Jenkins CI</p>
      </a>
    </div>
  </div>

  <div class="margin-auto">
    <div class="social-icon align-center inline-block">
      <a href="https://twitter.com/adoptopenjdk" target="_blank" class="light-link no-underline">
        <img src="dist/assets/twitter.png" alt="" class="social-logo">
      </a>
    </div>
    <div class="social-icon align-center inline-block">
      <a href="https://www.facebook.com/AdoptaJSR/" target="_blank" class="light-link no-underline">
        <img src="dist/assets/facebook.png" alt="" class="social-logo">
      </a>
    </div>
  </div>

  <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" target="_blank"class="light-link no-underline">
    <p class="inline-block zero-margin" style="margin-bottom: 1rem;">Having issues?&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></p>
  </a>
  <p>Java and OpenJDK are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.</p>
</footer>

<script src="dist/js/app.min.js"></script>
{{{script}}}
{{{script2}}}
{{{script3}}}
</body>
</html>
