<footer>
  <div class="margin-auto">
    <div class="footer-icon align-center inline-block">
      <a href="https://adoptopenjdk.slackarchive.io/" target="_blank" class="light-link no-underline">
        <img src="dist/assets/slack.png" alt="" class="footer-logo">
        <p class="margin-auto">Slack</p>
      </a>
    </div>

    <div class="footer-icon align-center inline-block">
      <a href="https://github.com/AdoptOpenJDK" target="_blank" class="light-link no-underline">
        <img src="dist/assets/GitHub.png" alt="" class="footer-logo">
        <p class="margin-auto">GitHub repos</p>
      </a>
    </div>

    <div class="footer-icon align-center inline-block">
      <a href="https://ci.adoptopenjdk.net" target="_blank" class="light-link no-underline">
        <img src="dist/assets/jenkins_headshot.png" alt="" class="footer-logo">
        <p class="margin-auto">Jenkins CI</p>
      </a>
    </div>
  </div>

  <div class="margin-auto" id="footer-social-bar">{{> social-bar }}</div>

  <p style="line-height: 1rem;">Java and OpenJDK are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.</p>

  <!--
  <div style="margin-top: 1.5rem;" id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,pt,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  -->
  
</footer>

<script src="dist/js/app.min.js"></script>
{{{script}}}
{{{script2}}}
{{{script3}}}
</body>
</html>
