<footer id="solstice-footer">
	<div class="footer-container">
		<div class="footer-row">
			<section class="col-sm-6 hidden-print" id="footer-eclipse-foundation">
				<h2 class="section-title">Eclipse Foundation</h2>
				<ul class="nav">
					<li><a href="https://www.eclipse.org/org/">About Us</a></li>
					<li><a href="https://www.eclipse.org/org/foundation/contact.php">Contact Us</a></li>
					<li><a href="https://www.eclipse.org/donate">Donate</a></li>
					<li><a href="https://www.eclipse.org/membership">Members</a></li>
					<li><a href="https://www.eclipse.org/org/documents/">Governance</a></li>
					<li><a href="https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php">Code of Conduct</a></li>
					<li><a href="https://www.eclipse.org/artwork/">Logo and Artwork</a></li>
					<li><a href="https://www.eclipse.org/org/foundation/directors.php">Board of Directors</a></li>
				</ul>
			</section>
			<section class="col-sm-6 hidden-print" id="footer-legal">
				<h2 class="section-title">Legal</h2>
				<ul class="nav">
					<li><a href="https://www.eclipse.org/legal/privacy.php">Privacy Policy</a></li>
					<li><a href="https://www.eclipse.org/legal/termsofuse.php">Terms of Use</a></li>
					<li><a href="https://www.eclipse.org/legal/copyright.php">Copyright Agent</a></li>
					<li><a href="https://www.eclipse.org/legal/epl-2.0/">Eclipse Public License</a></li>
					<li><a href="https://www.eclipse.org/legal/">Legal Resources</a></li>
				</ul>
			</section>
			<section class="col-sm-6 hidden-print" id="footer-useful-links">
				<h2 class="section-title">Useful Links</h2>
				<ul class="nav">
					<li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
					<li><a href="//help.eclipse.org/">Documentation</a></li>
					<li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
					<li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
					<li><a href="https://www.eclipse.org/forums/">Forums</a></li>
					<li><a href="//marketplace.eclipse.org">Marketplace</a></li>
				</ul>
			</section>
			<section class="col-sm-6 hidden-print" id="footer-other">
				<h2 class="section-title">Other</h2>
				<ul class="nav">
					<li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
					<li><a href="https://www.eclipse.org/projects">Projects</a></li>
					<li><a href="https://www.eclipse.org/org/workinggroups/">Working Groups</a></li>
					<li><a href="https://www.eclipse.org/org/research/">Research@Eclipse</a></li>
					<li><a href="https://www.eclipse.org/security/">Report a Vulnerability</a></li>
					<li><a href="https://status.eclipse.org">Service Status</a></li>
				</ul>
			</section>
      </div>
			<div class="col-sm-24 margin-top-20">
				<div class="footer-row">
					<div id="copyright" class="col-md-16">
						<p id="copyright-text">Copyright © Eclipse Foundation, Inc. All Rights Reserved.</p>
            <p>Java and OpenJDK are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.</p>
					</div>
				</div>
	</div>
</footer>

<!-- inject:js -->
<!-- endinject -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
{{{script}}}
{{{script2}}}
{{{script3}}}
{{{script4}}}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99905649-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
