<footer>
  <div class="align-center" style="margin-bottom: 1rem;">
    <a href="https://github.com/AdoptOpenJDK" target="_blank" class="light-link no-underline">
      <img src="dist/assets/GitHub.png" alt="" class="github-logo">
      <p class="margin-auto">GitHub build repo</p>
    </a>
  </div>
  <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" target="_blank"class="light-link no-underline">
    <p class="inline-block zero-margin" style="margin-bottom: 1rem;">Having issues?&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></p>
  </a>
  <p>Java and OpenJDK are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.</p>
</footer>

<script src="dist/js/app.min.js"></script>
{{{script}}}
{{{script2}}}
</body>
</html>
