<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="dist/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="dist/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    {{{style1}}}
    {{{style2}}}
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>

<body class="blue-bg">
  {{> menu }}
  <nav>
      <i id="menu-button" class="fa fa-bars" aria-hidden="true"></i>
      <a id="logo" href="./index.html" class="a-button">
          <div><img src="dist/assets/squares-logo.png"></div>
          <div><span>AdoptOpenJDK</span></div>
      </a>

      <div id="header-social-bar">{{> social-bar }}</div>
  </nav>

  <div w3-include-html="./banner.html"></div>
  <script>
      w3IncludeHTML();
  </script>
