<div class="btn-container">
    <form id="jdk-selector" class="btn-form">
    <h3>1. Choose a Version</h3>
    </form>
    <form id="jvm-selector" class="index-jvm-btn-form jvm-btn-form btn-form">
    <h3>2. Choose a Vendor
        <span class="help-jvm">Help Me Choose</span>
        <div class="popup-content" id="jvm-popup">
        <div class="popup-heading">
            <h4>Choosing the right Vendor</h4>
        </div>
        <div class="popup-text">
            <p class="hotspot-text"><b>Temurin</b> provides vanilla OpenJDK builds from the OpenJDK community. It is the most widely used VM today and is used in Oracle’s JDK. It is suitable for all workloads.</p>
            <p>For more details see <a target="_blank" href="https://openjdk.java.net/groups/hotspot/">OpenJDK</a>.</p>
            <p class="lts-text"><b>LTS</b> (Long Term Support). These versions have a longer support timeframe. Suitable for enterprise customers. See <a href="./support.html">Support</a> for more information.</p>
        </div>
        </div>
    </h3>
    </form>
</div>