<div id="menu-container" class="grey-bg hide slideInLeft">
  <div id="menu-header">
      <i id="menu-close" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
  </div>
  <div id="menu-content">
      <p><a href="./index.html">Home</a></p>
      <p><a href="./releases.html">Latest release</a></p>
      <p><a href="./archive.html">Release archive</a></p>
      <p><a href="./nightly.html">Nightly builds</a></p>
      <p><a href="./installation.html">Installation</a></p>
      <p><a href="./getinvolved.html">Get involved</a></p>
      <p><a href="./support.html">Support</a></p>
      <p><a href="./about.html">About</a></p>
      <div class="align-center"><div id="menu-social-bar">{{> social-bar }}</div></div>
  </div>
</div>
