<div id="menu-container" class="grey-bg hide slideInLeft">
  <div id="menu-header">
      <i id="menu-close" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
  </div>
  <div id="menu-content">
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./releases.html">Latest release</a></li>
      <li><a href="./archive.html">Build archive</a></li>
      <li><a href="./nightly.html">Nightly builds</a></li>
      <li><a href="./installation.html">Installation</a></li>
      <li><a href="https://blog.adoptopenjdk.net/">Blog</a></li>
      <li><a target="_blank" href="https://api.adoptopenjdk.net">API</a></li>
      <li class="submenu"><a>Further information</a>
        <ul>
          <li><a href="./getinvolved.html">Get involved</a></li>
          <li><a href="./support.html">Support</a></li>
          <li><a href="./sponsors.html">Sponsors</a></li>
          <li><a href="./users.html">Users</a></li>
          <li><a href="./about.html">About</a></li>
        </ul>
      </li>
    </ul>
    <div class="align-center"><div id="menu-social-bar">{{> social-bar }}</div></div>
  </div>
</div>
