<input type="checkbox" id="menu-checkbox" class="hide" />
<div id="menu-container" class="grey-bg slideInLeft">
  <div id="menu-header">
    <label for="menu-checkbox">
      <i id="menu-close" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    </label>
  </div>
  <div id="menu-content">
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./releases.html">Latest release</a></li>
      <li><a href="./archive.html">Build archive</a></li>
      <li><a target="_blank" href="https://adoptium.net/temurin/nightly">Nightly builds</a></li>
      <li><a target="_blank" href="https://adoptium.net/installation">Installation</a></li>
      <li class="submenu"><a>Projects</a>
        <ul>
          <li><a href="./icedtea-web.html">IcedTea-Web</a></li>
          <li><a target="_blank" href="https://adoptium.net/jmc">JDK Mission Control</a></li>
        </ul>
      </li>
      <li><a target="_blank" href="https://adoptium.net/docs/migration">Migration Guide</a></li>
      <li><a href="./support.html">Support</a></li>
      <li><a href="./getinvolved.html">Get involved!</a></li>
      <li class="submenu"><a>Further information</a>
        <ul>
          <li><a href="./about.html">About</a></li>
          <li><a href="./sponsors.html">Sponsors</a></li>
          <li><a href="./testimonials.html">Testimonials</a></li>
          <li><a target="_blank" href="https://api.adoptopenjdk.net">API</a></li>
          <li><a target="_blank" href="https://blog.adoptopenjdk.net/">Blog</a></li>
          <li><a target="_blank" href="https://status.adoptopenjdk.net/">Status</a></li>
          <li><a href="./quality.html">Quality</a></li>
          <li><a href="./supported_platforms.html">Supported Platforms</a></li>
          <li><a href="./logos.html">Brand Resources</a></li>
        </ul>
      </li>
    </ul>
    <div class="align-center"><div id="menu-social-bar">{{> social-bar }}</div></div>
  </div>
</div>
