      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">Checksum</h4>
                </div>

                <!-- Modal body -->
                <textarea cols="70" class="modal-body" id="modal-body"></textarea>

                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="blue-button modal-button" onclick="hideChecksum()">Close</button>
                <button type="button" class="blue-button modal-button" onclick="copyStringToClipboard()"><i class="fa fa-clipboard " ></i> Copy</button>
                </div>

            </div>
        </div>
      </div>