<div class="social-icon align-center inline-block">
  <a href="https://twitter.com/adoptopenjdk" target="_blank" class="light-link no-underline">
    <img src="dist/assets/twitter.png" alt="Twitter logo" class="social-logo">
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.facebook.com/AdoptaJSR/" target="_blank" class="light-link no-underline">
    <img src="dist/assets/facebook.png" alt="Facebook logo" class="social-logo">
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://plus.google.com/communities/104849759654403050599/" target="_blank" class="light-link no-underline">
    <img src="dist/assets/googlePlus.png" alt="GooglePlus logo" class="social-logo">
  </a>
</div>
