<div class="social-icon align-center inline-block">
  <a href="https://twitter.com/adoptopenjdk" target="_blank" class="light-link no-underline">
    <img src="dist/assets/twitter.png" alt="" class="social-logo">
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.facebook.com/AdoptaJSR/" target="_blank" class="light-link no-underline">
    <img src="dist/assets/facebook.png" alt="" class="social-logo">
  </a>
</div>
