<div class="social-icon align-center inline-block">
  <a href="https://twitter.com/adoptopenjdk" target="_blank" class="light-link no-underline">
      <span class="fa-stack fa-lg">
        <i class="fa fa-twitter fa-stack-1x fa-social-icon fa-adjust"></i>
      </span>
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.facebook.com/adoptopenjdk" target="_blank" class="light-link no-underline">
    <span class="fa-stack fa-lg">
        <i class="fa fa-facebook fa-stack-1x fa-social-icon fa-adjust"></i>
    </span>
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.youtube.com/channel/UCxvs-hmA_gRJyROaqaFy3bQ" target="_blank" class="light-link no-underline">
    <span class="fa-stack fa-lg">
        <i class="fa fa-youtube-play fa-stack-1x fa-social-icon fa-adjust"></i>
    </span>
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.twitch.tv/adoptopenjdk" target="_blank" class="light-link no-underline">
    <span class="fa-stack fa-lg">
        <i class="fa fa-twitch fa-stack-1x fa-social-icon fa-adjust"></i>
    </span>
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://plus.google.com/communities/104849759654403050599/" target="_blank" class="light-link no-underline">
    <span class="fa-stack fa-lg">
        <i class="fa fa-google-plus-official fa-stack-1x fa-social-icon fa-adjust"></i>
    </span>
  </a>
</div>
