<div class="social-icon align-center inline-block">
  <a href="https://twitter.com/adoptium" target="_blank" class="light-link no-underline">
      <span class="fa-stack fa-lg" style="font-size:1.10em;">
        <i class="fa fa-twitter fa-stack-1x fa-social-icon"></i>
      </span>
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.facebook.com/adoptium" target="_blank" class="light-link no-underline">
    <span class="fa-stack fa-lg" style="font-size:1.10em;">
        <i class="fa fa-facebook fa-stack-1x fa-social-icon"></i>
    </span>
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.youtube.com/c/adoptium" target="_blank" class="light-link no-underline">
    <span class="fa-stack fa-lg" style="font-size:1.10em;">
        <i class="fa fa-youtube-play fa-stack-1x fa-social-icon"></i>
    </span>
  </a>
</div>
<div class="social-icon align-center inline-block">
  <a href="https://www.twitch.tv/adoptium" target="_blank" class="light-link no-underline">
    <span class="fa-stack fa-lg" style="font-size:1.10em;">
        <i class="fa fa-twitch fa-stack-lg fa-social-icon"></i>
    </span>
  </a>
</div>