main .support {
  max-width: 40rem;
  margin: 0 auto;
  width: 80%;
}

main .support h2 {
  text-align: center;
}

.tick-demo img {
    height: 1.3rem !important;
    padding-top: 0px;
}

.support table, .support th, .support td {
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem;
}

.fa-star-o.hotspot{
    color: orange;
}

.fa-star-o.openj9{
    color: purple;
}

.commercial-table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    border-width: 0px !important;
}

.commercial-table td {
    padding: 2rem;
    background-color: white;
    line-height: 1.8rem;
}

.commercial-table td img {
    width: 8rem;
}

@media all and (max-width: 800px) {

  .commercial-table td {
    padding: 1rem;
    display: block;
  }

}

