@media all and (max-width: 950px) {

  .vertically-center-parent {
      position: initial;
  }
  .vertically-center-child {
    position: initial;
    top: initial;
    transform: initial;
  }

}

@media all and (max-width: 800px) {

  .large-title {
    font-size: 2rem;
  }

  #latest-info td {
    display: block;
  }

  #latest-info .platform-section {
    display: block;
    border-right: none;
    padding: 0;
  }

  #latest-info .content-section {
    padding: 1rem 0 0;
  }

}
