@media all and (max-width: 950px) {

  .vertically-center-parent {
      position: initial;
  }
  .vertically-center-child {
    position: initial;
    top: initial;
    transform: initial;
  }

}

@media all and (max-width: 800px) {

  #latest-metadata-table td {
      display: inline-block;
      width: 80%;
      border-radius: 0 !important;
  }

  .large-title {
    font-size: 2rem;
  }

}
