@media all and (max-width: 650px) {

  main {
      padding: 2rem 1rem 5rem 1rem;
  }

  main .intro {
    width: 100%;
  }

  #header-social-bar {
    display: none;
  }

  #footer-social-bar {
    display: block;
  }

  a.dl-button {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.2rem;
  }

  a.dl-button .dl-description {
    transform: translate(-50%,-3.8rem);
    left: 50%;
  }

  .home-links {
    display: block;
  }

  #menu-button {
    margin-left: 0;
    font-size: 1.5rem;
    padding: 2.2rem 1rem;
  }

  input {
    min-width: 0;
    max-width: 80%;
  }

}
