$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E;

// LATEST RELEASE CSS

#latest-build-name {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

#latest-intro {
  margin: 1rem 0;
}

#latest-metadata-table {
  color: $maingrey;
  margin: 0 auto;
}

#latest-metadata-table td {
  padding: 0.5rem 1.5rem;
}

#latest-metadata-table td:first-child {
  border-radius: 0.3rem 0 0 0.3rem;
}
#latest-metadata-table td:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
}

#latest-metadata-table td:nth-child(even) {
  background-color: $tableblue-even;
}

#latest-metadata-table td:nth-child(odd) {
  background-color: $tableblue-odd;
}

.latest-block {
  display: inline-block;
  vertical-align: top;
  margin: 3rem 2.5rem 1rem;
}

.latest-platform {
  font-size: 1.5rem;
}

.latest-platform img {
  height: 3.5rem
}

a.latest-download-button {
  background-color: $brighterblue;
  display: block;
  color: $maingrey;
  border-radius: 0.2rem;
  min-width: 14rem;
  line-height: 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
}

a.latest-download-button:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey;
}

.latest-details {
  font-size: 0.8rem;
}

.small-dl-text {
  font-size: .7rem;
  line-height: 1.2rem;
  transform: translateY(-0.4rem);
  color: rgba(255, 255, 255, 0.64);
}

// ARCHIVE CSS

#archive-list {
  overflow: auto;
}

.archive-container {
  margin: 2rem auto;
  border-collapse: separate;
  border-spacing: .2rem 2rem;
  white-space: nowrap;
}

.archive-container>tbody>tr>td {
  padding: 1rem 2rem;
  background-color: #fff;
  margin: 3rem 0.1rem;
  font-size: 0.8rem;
}

.archive-container .grey-button {
  font-size: inherit;
}

.archive-platforms {
  border-spacing: .5rem 0;
}

.archive-details div {
  margin: 0.5rem auto;
}
