$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;

main.testimonials ol,
main.testimonials p,
main.testimonials ul {
  max-width: 40rem;
  margin: 1rem auto;
  width: 80%;
  line-height: 1.8rem;
}

.info-page-container {
  max-width: 60rem !important;
}

.customers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.max-width {
  width: 100% !important;
}

.customers > div {
  padding: 3em;
  margin: auto;
}

#customers img {
  max-width: 8em;
  max-height: 7em;
  vertical-align: middle;
}

.testimonial {
  width: 100%;
}

.testimonials img {
  max-width: 15em;
  margin: 0 auto;
}

.slick-dots {
  margin: 0 auto;
  position: static !important;
}

.slick-dots li button:before {
  font-size: 1rem !important;
  color: $mainblue !important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 2rem !important;
  color: $mainblue !important;
}

.slick-prev {
  left: 0.2rem !important;
}

.slick-next {
  right: 0.2rem !important;
}

.fa.fa-quote-left {
  margin-left: 3em;
  margin-top: 3em;
}

.fa.fa-quote-right {
  margin-right: 3em;
  margin-top: 5.5em;
}
// Tablet width
@media all and (max-width: 800px) {
  .fa.fa-quote-left,
  .fa.fa-quote-right {
    display: none;
  }
}
// Phone width
@media all and (max-width: 500px) {
  #customers img {
    max-width: 6em;
  }

  .max-width {
    width: 80% !important;
  }
}

.more-users {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-users a.more-logos {
  background-color: $brighterblue;
  display: block;
  color: $maingrey;
  border-radius: 0.2rem;
  line-height: 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0 2.5rem;
}

.more-users a.more-logos:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey;
}

.more-users p.full-width {
  width: 100%;
}
