@media all and (max-width: 650px) {

  main {
      padding: 2rem 1rem 5rem 1rem;
  }

  main .intro {
    width: 100%;
  }

  #header-social-bar {
    display: none;
  }

  #footer-social-bar {
    display: block;
  }
  .btn-container {
    margin-left: 0;
  }

  .btn-form {
    display: block;
    width: 100%;
  }

  .btn-form:first-child {
    margin-bottom: 3rem;
  }

  a.dl-button {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.2rem;
  }

  a.dl-button .dl-description {
    transform: translate(-50%,-3.8rem);
    left: 50%;
  }

  .home-links {
    display: block;
  }

  #menu-button {
    margin-left: 0;
    font-size: 1.5rem;
    padding: 2.2rem 1rem;
  }

  input {
    min-width: 0;
    max-width: 80%;
  }

  .blue-button, .grey-button {
    padding: 0 1rem;
  }

  .archive-container .download-td {
    min-width: 9rem;
  }

  .archive-platforms span.tick {
    right: -0.3rem;
  }
}
