$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E;

.divider {
  margin: 0 0.5rem;
}

#table-parent {
  margin: 0 auto;
}

#nightly-list {
  width: 90%;
  overflow: auto;
  max-width: 80rem;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
}

.nightly-container {
  white-space: nowrap;
  color: $mainblue;
  border: 0.1rem solid $maingrey;
}

th {
  white-space: nowrap;
}

.nightly-container div {
  display: inline-block;
}

.nightly-container > td {
  padding: 0.5rem 1rem;
}

.nightly-container > td:nth-child(odd) {
  background-color: #d0d0d0;
}

.nightly-container > td:nth-child(even) {
  background-color: #e2e2e2;
}

th {
  padding: .4rem 1rem;
  background-color: $mainblue;
  color: $maingrey;
}

#datepicker {
  min-width: 8rem;
  width: 8rem;
}

#ui-datepicker-div {
  padding: 0.4rem;
  background-color: white;
  text-align: center;
}

#ui-datepicker-div div {
  display: inline-block;
}

#ui-datepicker-div div.ui-datepicker-header {
  display: block;
  padding: 0.6rem;
}

.ui-datepicker-title {
  color: $mainblue;
}

.ui-datepicker-prev {
  float: left;
  color: $brighterblue;
}

.ui-datepicker-next {
  float: right;
  color: $brighterblue;
}

table.ui-datepicker-calendar {
  border-collapse: separate;
  border-spacing: 0.15rem;
}

table.ui-datepicker-calendar th, table.ui-datepicker-calendar td {
  padding: 0.4rem 0.6rem;
}

table.ui-datepicker-calendar td {
  background-color: rgba(21, 41, 53, 0.05);
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  display: inline-block !important;
}

// HIDES THE WINDOWS COLUMN IN THE NIGHTLY TABLE
#nightly-table tr td:nth-child(3), #nightly-table th:nth-child(3) {
  /*display: none;*/
}
