$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$palegrey: #e6e6e6;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E;

// LATEST RELEASE CSS

div#latest-selector {
  margin: auto;
  overflow-x: scroll;
  width: 70%;
  @media (max-width: 1150px) {
    width: 90%;
  }
}

.main-download__variant__table {
    width: 100%;
    border-spacing: 0 10px !important;
    border-collapse: inherit !important;
    margin: 0 auto;
    table-layout: fixed;
    overflow-x:auto !important;
}

.main-download__variant__table td {
    background-color: #ffffff;
    width: 10em;
}

.main-download__variant__name {
    background-color: #333333 !important;
    border-right: 1px solid #f0f0f0;
    width: 13em;
}

.main-download__variant__name span {
    display: block;
    text-align: center;
}

.main-download__variant__architecture span, .main-download__variant__java-package span, .main-download__variant__os span {
    color: #777777;
    display: block;
    text-align: center;
    font-weight: 400;
}

.main-download__variant__name span:nth-child(1) {
    margin-top: 16px;
    margin-bottom: 7px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.main-download__variant__name span:nth-child(2) {
    margin-bottom: 15px;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
}

.main-download__variant__sub-table {
    width: 100%;
    border-spacing: 0 1px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main-download__variant__sub-table__row {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #f0f0f0;
}

.main-download__variant__download__title {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dotted #777777;
    cursor: pointer;
}

.main-download__variant__sub-table__copy-title {
    position: relative;
    cursor: pointer;
}

.main-download__variant__sub-table__download {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    width: 8em;
    height: 40px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: $brighterblue;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 400;
}

.main-download__variant__architecture {
    border-right: 1px solid #f0f0f0;
    width: 6em !important;
}

.main-download__variant__heap_size {
    border-right: 1px solid #f0f0f0;
    width: 6em !important;
}

.main-download__variant__os {
    border-right: 1px solid #f0f0f0;
}

.main-download__variant__sub-table__row {
  width: 8em;
}

.main-download__variant__os span:nth-child(2) {
    font-size: 14px;
}

.download-last-version:after {
    width: 42px;
    line-height: 19px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: $brighterblue;
    margin-left: 9px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter {
  width: 8em;
  height: 2em;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(https://adoptopenjdk.net/dist/assets/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-divs {
  width: 40em;
  margin: auto;
  @media (max-width: 600px) {
    width: 50%;
  }
}

.filter-os {
  float: left;
}

.release_notes {
    color: #152935 !important;
    text-decoration: underline !important;
}

.modal-backdrop {
    position: relative !important;
}

.modal {
    display: none;
    z-index: 1;
	position: fixed;
	top:50%;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
}

.modal-body {
    resize: none;
    border-style: none;
    border-color: Transparent;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    padding: 2em;
    background-color: white;
    border-style: solid;
    border-width: medium;
}

.modal-button {
    float: right;
}