.sponsor-table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.sponsor-table td {
  padding: 2rem;
  background-color: white;
  line-height: 1.8rem;
}

.sponsor-table td img {
  width: 8rem;
}

#services-grid {
  margin: auto;
}

#services-grid tr {
  text-align: center;
}

#services-grid td {
  vertical-align: bottom;
  display: inline-block;
  margin: 2rem 3rem;
}

.sponsors img {
  transition-duration: 0.2s;
}

.sponsors img:hover {
  opacity: 0.5;
}

.sponsors a {
  color: #152935 !important;
  text-decoration: none !important;
}

#services-grid img {
  width: 8rem;
}

@media all and (max-width: 800px) {

  .sponsor-table td {
    padding: 1rem;
    display: block;
  }

  .sponsors {
    text-align: center;
  }

}
