$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$palegrey: #e6e6e6;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E;

// LATEST RELEASE CSS

div#latest-selector {
  width: 60%;
  margin: auto;
  overflow-x: scroll;
  @media (max-width: 500px) {
    width: 90%;
  };
  @media (min-width: 2100px) {
    width: 40%;
  };
}

.main-download__variant__table {
    width: 100%;
    border-spacing: 0 10px !important;
    border-collapse: inherit !important;
    margin: 0 auto;
    table-layout: fixed;
    overflow-x:auto !important;
}

.main-download__variant__table td {
    background-color: #ffffff;
    white-space: nowrap;
}

.main-download__variant__name {
    background-color: #333333 !important;
    border-right: 1px solid #f0f0f0;
    width: 12em;
}

.main-download__variant__name span {
    display: block;
    text-align: center;
}

.main-download__variant__architecture span, .main-download__variant__java-package span, .main-download__variant__os span {
    color: #777777;
    display: block;
    text-align: center;
    font-weight: 400;
}

.main-download__variant__name span:nth-child(1) {
    margin-top: 16px;
    margin-bottom: 7px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.main-download__variant__name span:nth-child(2) {
    margin-bottom: 15px;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
}

.main-download__variant__sub-table {
    width: 100%;
    border-spacing: 0 1px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main-download__variant__sub-table__row {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #f0f0f0;
}

.main-download__variant__download__title {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dotted #777777;
    cursor: pointer;
}

.main-download__variant__sub-table__copy-title {
    position: relative;
    cursor: pointer;
}

.main-download__variant__sub-table__download {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    width: 75px;
    height: 40px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: $brighterblue;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 400;
}

.main-download__variant__architecture, .main-download__variant__java-package {
    border-right: 1px solid #f0f0f0;
    width: 8em;
}

.main-download__variant__os {
    border-right: 1px solid #f0f0f0;
    @media (max-width: 1200px) {
      width: 12.5em !important;
    };
}

.main-download__variant__os span:nth-child(2) {
    font-size: 14px;
}

.download-last-version:after {
    width: 42px;
    line-height: 19px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: $brighterblue;
    margin-left: 9px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
