$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;

main .intro {
  max-width: 40rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 1.8rem;
}

main .intro i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  transform: translateY(0.3rem);
}

main .intro a {
  text-decoration: none;
  color: $brighterblue;
}

main .intro a:hover {
  text-decoration: underline;
  color: $brighterblue;
}

#loading-index {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0.1rem);
}

.dl-container {
  margin: 0 auto;
}

a.dl-button {
  background-color: $brighterblue;
  color: $maingrey;
  border-radius: 0.2rem;
  width: 20rem;
  line-height: 5rem;
  font-size: 1.5rem;
  margin: 1.2rem 0.6rem 0 0.6rem;
  cursor: pointer;
  display: inline-block;
}

#dl-text {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

a.dl-button #dl-version {
  transform: translateY(-0.6rem);
}

a.dl-button .dl-description {
  font-size: .8rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-3.8rem);
}

a.dl-button:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey;
}

a.dl-thin-button {
  line-height: 2rem;
  font-size: 1rem;
  background-color: $accentgrey;
  color: $mainblue;
  display: block;
  margin: 1rem auto;
}

a.dl-thin-button:hover {
  background-color: #e6e6e6;
  color: $mainblue;
}

.home-links {
  padding: 0 1rem;
}
