main .support {
  max-width: 40rem;
  margin: 0 auto;
  width: 80%;
}

main .support h2 {
  text-align: center;
}

.tick-demo img {
    height: 1.3rem !important;
    padding-top: 0px;
}

.support table, .support th, .support td {
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.5rem;
}

.fa-star-o.hotspot{
	color: orange;
}

.fa-star-o.openj9{
	color: purple;
}
