$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;

main .intro {
  max-width: 40rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 1.8rem;
}

main .intro i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  transform: translateY(0.3rem);
}

main .intro a {
  text-decoration: none;
  color: $brighterblue;
}

main .intro a:hover {
  text-decoration: underline;
  color: $brighterblue;
}

#loading-index {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0.1rem);
}

.dl-container {
  margin: 0 auto;
}

a.dl-button {
  background-color: $brighterblue;
  color: $maingrey;
  border-radius: 0.2rem;
  width: 20rem;
  line-height: 5rem;
  font-size: 1.5rem;
  margin: 1.2rem 0.6rem 0 0.6rem;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.1s;
}

#dl-text {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

a.dl-button #dl-version {
  transform: translateY(-0.6rem);
}

a.dl-button .dl-description {
  font-size: .8rem;
  position: absolute;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%,-3.8rem);
  height: 50%; /* div take 100% of a tag height and goes out of bound */
}

a.dl-button:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey;
}

a.dl-thin-button {
  line-height: 2rem;
  font-size: 1rem;
  background-color: $accentgrey;
  color: $mainblue;
  display: block;
  margin: 1rem auto;
}

a.dl-thin-button:hover {
  background-color: #e6e6e6;
  color: $mainblue;
}

.dl-container select#variant-selector {
  margin-top: 1rem;
}

.home-links {
  padding: 0 1rem;
}

h2.transition-bright {
  color: #0085ff;
  transition-duration: 1s;
}

#minor-links {
  margin-top: 2rem;
}

#minor-links span {
  margin: 0 0.3rem;
  color: $accentgrey;
  font-size: 1.2rem;
}

#dl-latest {
  position: relative;
  z-index: 100;
}

#dl-latest span.tick {
  top: 0.3rem;
  right: -0.2rem;
  margin-right: 0.2rem;
  img {
    height: 1.2rem;
  }
}

.btn-form {
  position: relative;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.help-jvm {
  font-size: 0.9rem;
  font-weight: 100;
  margin-left: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
.popup-content {
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 21rem;
  top: 0.4rem;
  background: white;
}

.popup-heading {
  display: flex;
  background: $brighterblue;
  color: white;
  height: 2.5rem;
  align-items: center;
  padding-left: 1rem;
}
.popup-heading > h4 {
  font-weight: 400;
}
.popup-text {
  border: 1px solid #dadada;
  border-top: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: left;
  -webkit-user-select: text; /* Chrome/Safari */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+ */
}

.popup-text a {
  color: $brighterblue;
}

.hotspot-text, .openj9-text {
  line-height: 1.2rem;
  margin-bottom: -0.5rem;
  white-space: normal;
}

.hotspot-text {
  margin-top: 0;
}

.openj9-text {
  margin-top: 1rem;
}

.help-jvm:hover ~ .popup-content {
    visibility: visible;
}

/* Popup arrow */
.popup-heading::after {
  content: "";
  position: absolute;
  border-width: 0.5rem;
  left: -1rem;
  border-style: solid;
  border-color: transparent $brighterblue transparent transparent;
}

@media all and (max-width: 300px) {
  #minor-links a {
    display: block;
    margin: 0.5rem 0;
  }

  #minor-links span {
    display: none;
  }
}
