$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;

main.testimonials ol,
main.testimonials p,
main.testimonials ul {
  max-width: 40rem;
  margin: 1rem auto;
  width: 80%;
  line-height: 1.8rem;
}

.info-page-container {
  max-width: 60rem !important;
}

.customers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.customers > div {
  padding: 3em;
  margin: auto;
}

#customers img {
  max-width: 8em;
  max-height: 7em;
  vertical-align: middle;
}

.testimonials {
  text-align: center;
  padding-bottom: 2em;
}

.testimonials img {
  max-height: 4.5em;
}

.prev, .next {
  cursor: pointer;
  color: $mainblue;
  transition: 0.6s ease;
  user-select: none;
}

.fa.fa-angle-left {
  margin-top: -2em;
  margin-left: 1em;
}

.fa.fa-angle-right, {
  margin-top: -2em;
  margin-right: 1em;
}

.fa.fa-quote-left {
  margin-left: 4em;
  margin-top: 3em;
}

.fa.fa-quote-right {
  margin-right: 4em;
  margin-top: 5.5em;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 0.2em;
  background-color: $accentgrey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.customers a.more-logos {
  background-color: $brighterblue;
  display: block;
  color: $maingrey;
  border-radius: 0.2rem;
  line-height: 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0 2.5rem;
}

.customers a.more-logos:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey;
}

.customers p.full-width {
  width: 100%;
}
