$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$palegrey: #e6e6e6;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E; // LATEST RELEASE CSS

#latest-intro {
  margin: 1rem 0;
}

#latest-build-name {
  font-size: 1.5rem;
  text-decoration: none;
}

#latest-metadata-table {
  color: $maingrey;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0.3rem;
}

#latest-metadata-table td {
  padding: 0.5rem 1.5rem;
  background-color: rgba(21, 41, 53, 0.05);
  color: $mainblue;
  margin: 0.3rem 0;
  border-bottom: 0.2rem solid rgba(21, 41, 53, 0.15);
  border-radius: 0.2rem;
}

#latest-metadata-table td {
  display: inline-block;
  width: 80%;
}

.latest-grid-border {
  border: 0.1rem solid $maingrey;
}

#latest-selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  // SET THIS MAX WIDTH PROPERTY TO CHANGE THE MAX # OF PLATFORMS THAT CAN APPEAR ON EACH ROW
  max-width: 42rem;
}

#latest-selector div.latest-asset {
  float: left;
  cursor: pointer;
  min-width: 9.8rem;
  padding: 2rem 0;
  background-color: rgba(#fff,.6);
}

#latest-selector div.latest-asset:hover {
  color: $mainblue;
  background-color: white;
}

#latest-selector div.docker-asset {
  float: left;
  cursor: pointer;
  min-width: 9.8rem;
  padding: 2rem 0;
  background-color: rgba(#fff,.6);
}

#latest-selector div.docker-asset:hover {
  color: $mainblue;
  background-color: white;
}

#latest-selector img {
  height: 3.5rem;
}

#latest-selector var {
  display: block;
  margin-top: 0.5rem;
}

#latest-info {
  display: inline-block;
  max-width: 65rem;
  margin: auto;
}

#latest-info .latest-info-container {
  background-color: white;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
}

#latest-info img {
  height: 4.5rem;
}

#latest-info .platform-section {
  display: inline-block;
  padding: 1rem 2rem;
  border-right: 0.2rem solid rgba(21,41,53,.1);
  min-width: 10rem;

  h2 {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

#latest-info .platform-section .latest-selector-back-button {
  cursor: pointer;
  color: $brighterblue;
  margin-bottom: 0;
}

#latest-info .content-section {
  display: inline-block;
  margin: auto;
  padding: 0 2rem;
}

.latest-block {
  display: inline-block;
  vertical-align: top;
  margin: 2rem 1rem 1rem;
}

.latest-block a.latest-download-button {
  background-color: $brighterblue;
  display: block;
  color: $maingrey;
  border-radius: 0.2rem;
  line-height: 2.5rem;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0 2.5rem;
}

.latest-block a.latest-download-button:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey;
}

.latest-block .small-dl-text {
  font-size: 0.7rem;
  line-height: 1.2rem;
  transform: translateY(-0.4rem);
}

.latest-block a.latest-download-button-grey {
  background-color: $accentgrey;
  color: $mainblue;
}

.latest-block a.latest-download-button-grey:hover {
  background-color: $palegrey;
  color: $mainblue;
}

.tick img {
  height: 2.0rem !important;
  vertical-align: middle;
  padding: 5px;
}

.latest-block .tick {
  float: right;
  padding-left: 10px;
}

.latest-block a.a-button {
  min-width: 12rem;
  box-sizing: border-box;
}

.vertical-align {
  vertical-align: top;
}

.binary-grey .latest-block a.a-button {
  background-color: $accentgrey;

  &:hover {
    background-color: $palegrey;
  }

  div.large-dl-text {
    color: $mainblue;
  }

  div.small-dl-text {
    color: rgba(21, 41, 53, 0.7);
  }
}

.latest-block .latest-details p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

#latest-table span.tick {
  float: right;
  position: absolute;
  transform: translate(4rem, 0.85rem);

  img {
    height: 1.2rem;
  }
}

.releaseDateTime,
.releaseName {
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.officialName {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  white-space: nowrap;
}

table#download-matrix {
  table-layout: fixed;
  width: 100%;
}

.download-matrix th {
  width: 33.3%;

  a {
    color: #F5F5F5;
    font-weight: 400!important;
  }
}

.download-matrix td.border {
  border: 1px solid #ccc;
  width: 33.3%;
}

.download-matrix td:hover {
  background-color: #152935;

  a {
    color: #F5F5F5;
  }
}

a,
a:active,
a:link {
  text-decoration: none;
  border-radius: 2px;
}

.download-hero ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
}

.no-padding {
  padding: 0;
}

a.latest-asset {
  padding-left: 0.5rem;
}

a.latest-asset:hover {
  color: #152935!important;
  text-decoration: underline;
}

.download-hero {
  margin-bottom: 1em;
}

.download-hero li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.download-hero a {
  display: block;
  width: 100%;
  padding-top: 1em;
  color: #152935;
  background: #dadada;
}

.download-hero a:hover {
  background: #152935;
  color: #fff;
}

.download-hero a:hover .download-logo {
  fill: #fff;
}

.download-hero .download-logo {
  display: block;
  margin: 0 auto;
  fill: #152935;
}

.download-hero p {
  padding-bottom: 1em;
  margin: 1em 0 0;
}

.small {
  font-size: 10px;
}

h3 {
  font-weight: 400;
}
