$accentgrey: #dadada;

.download table {
  background-color: $accentgrey;
}

table#release, table#ea {
  width: 100%;
  border-collapse: collapse;
}

table#release th, table#ea th {
  border: 2px solid #f5f5f5;
}

table#release td, table#ea td {
  padding: 0.5em;
  border: 2px solid #f5f5f5;
  border-style: solid;
}

table#release td.first_col, table#ea td.first_col {
  width: 8em;
  text-align: center;
}

table#release td.no_left, table#ea td.no_left {
  border-left: none;
}

table#release td.no_right, table#ea td.no_right {
  border-right: none;
}

td.midl {
  text-align: center;
}

table#ea th, table#release th {
  text-align: center;
}

table#ea td.arch, table#release td.arch {
  text-align: right;
  width: 8em;
}

table#ea tr.sep td, table#release tr.sep td {
  height: 2px;
  background-color: #152935;
  padding: 0;
}

.upstream-callout {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
