$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E;


// ARCHIVE CSS

#archives-page .callout {
  max-width: 50rem;
  margin: auto auto 2rem;
  text-align: left;
}

#archive-list {
  overflow: auto;
}

.archive-container {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: .2rem 2rem;
  white-space: nowrap;

  td.release-info {
    vertical-align: top;
  }

  td.download {
    padding: 0.2rem;
  }

  .grey-button, .blue-button  {
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
}

.archive-container > tbody > tr > td {
  padding: 1rem 2rem;
  background-color: #fff;
  margin: 3rem 0.1rem;
  font-size: 0.8rem;
}

.archive-platforms {
  border-spacing: .5rem 0;
}

#pagination-container {
  display: inline-block;
  margin: auto;
  margin: 2rem 1rem 0 1rem;
}

.column-names span {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}
