// GLOBAL CSS
$mainblue: #152935;
$maingrey: #F5F5F5;
$palegrey: #e6e6e6;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E;
$translucent-blue: rgba(21, 41, 53, 0.05);
$headersize: 1.4rem;


.blue-bg {
  background-color: $mainblue !important;
  color: $maingrey !important;
}

.light-text {
  color: $maingrey;
}

.grey-bg {
  background-color: $maingrey;
  color: $mainblue;
}

.dark-link, .dark-link:visited, a, a:visited {
  color: $mainblue;
  cursor: pointer;
}

.dark-link:hover, a:hover {
  color: $brighterblue;
}

.light-link, .light-link:visited {
  color: $maingrey;
}

.light-link:hover {
  color: $brighterblue;
}

.blue-link-section a {
  text-decoration: none;
}

.blue-link-section a *, .blue-link-section a {
  color: $brighterblue;
  text-decoration: none;
}

.blue-link-section a *:hover, .blue-link-section a:hover {
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.no-underline {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.zero-margin {
  margin: 0;
}

.margin-auto {
  margin: 0 auto;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.large-title {
  font-size: 3rem;
  margin-top: 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.vertical-align-top {
  vertical-align: top;
}

.fully-center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertically-center-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vertically-center-parent {
  position: relative;
}

.social-icon {
  margin: 0 0.5rem;
}

.social-icon img {
  height: 2rem;
  margin: 0 auto;
  opacity: 0.5;
  transition-duration: 0.2s;
}

.social-icon img:hover {
  opacity: 1;
}

input {
  padding: 0.5rem;
  min-width: 12rem;
  margin-top: 1rem;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.animated.fadeIn {
  animation-duration: 0.3s;
}


// NAV CSS

nav {
  position: relative;
}

#logo {
  margin: 2rem auto;
  font-size: $headersize;
  display: table;
  cursor: pointer;
  color: $maingrey;
}

#logo div {
  display: table-cell;
  vertical-align: middle;
}

#logo img {
  width: 2rem;
  margin-right: 0.6rem;
  transform: translateY(0.1rem);
}

#header-social-bar {
  position: absolute;
  margin-right: 2rem;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

#menu-button {
  font-size: 2rem;
  color: $maingrey;
  position: absolute;
  margin-left: 2rem;
  cursor: pointer;
  line-height: 1;
  padding: 2rem 1rem;
  top: 50%;
  transform: translateY(-50%);
}

#menu-button:hover {
  color: $accentgrey;
}

#menu-container {
  position: fixed;
  background-color: $palegrey;
  z-index: 100;
  width: 90%;
  max-width: 16rem;
  padding: 0 2rem 2rem 2rem;
  top: 0;
  left: 0;
  height: 100%;
  animation-duration: 0.25s;
}

#menu-header {
  background-color: $maingrey;
  width: 20rem;
  transform: translateX(-2rem);
}

#menu-close {
  font-size: 2rem;
  padding: 1.98rem;
  display: block;
  text-align: center;
  cursor: pointer;
}

#menu-close:hover {
  color: $brighterblue;
}

#menu-content {
  overflow: auto;
  height: 80%;
  margin: 2rem 0;
}

#menu-content a {
  text-decoration: none;
  display: block;
  padding: .8rem 0;
}

#menu-content p {
  border-bottom: 1px solid $accentgrey;
  margin: 0;
}

#menu-social-bar {
  display: inline-block;
  filter: brightness(0);
  margin: 1rem auto 3rem;
}


// MAIN CSS

html, body {
    max-width: 100%;
    overflow-x: hidden;
    // height: 100%;     // removed to see if this fixes scrolling issue on iPhone
}

main {
  padding: 2rem 2rem 5rem 2rem;
  text-align: center;
}

.home-main {
  padding: 3rem 2rem 5rem 2rem;
}

#error-container {
  text-align: center;
  color: red;
}

.grey-button {
  background-color: $accentgrey;
  color: $mainblue !important;
  border-radius: 0.2rem;
  padding: 0 1.5rem;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.2rem;
}

.grey-button:hover {
  background-color: $palegrey;
  color: $mainblue !important;
}

.selected-grey {
  background-color: $palegrey;
  cursor: default;
}

.blue-button {
  background-color: $brighterblue;
  color: $maingrey !important;
  border-radius: 0.2rem;
  padding: 0 1.5rem;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.2rem;
}

.blue-button:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey !important;
}

.a-button {
  text-decoration: none;
}

#search-error {
  text-align: center;
  margin-top: 2rem;
}

.info-page-container {
  max-width: 50rem;
  margin: auto;
  text-align: left;
}

.info-page-container li {
  margin-top: 2rem;
}

pre {
  background-color: #e8e8e8;
  border-radius: 0.5rem;
  box-shadow: rgb(195, 195, 195) 0px 2.5px 0px 0px;
  box-sizing: border-box;
  color: #585858;
  font-family: Consolas, monospace;
  overflow: auto;
  padding: 1rem;
  white-space: pre-wrap;
}

code {
  box-sizing: border-box;
  overflow: auto;
  white-space: pre;
}

.callout {
  background-color: $translucent-blue;
  border-left: 0.5rem solid $mainblue;
  padding: 0.5rem 1rem;
}

// FOOTER CSS

footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.7rem;
}

footer p {
  max-width: 20rem;
  margin: auto;
}

.footer-icon {
  margin: 0 1rem 1.5rem 1rem;
  transition-duration: 0.2s;
}

.footer-icon:hover {
  opacity: 0.7;
}

.footer-icon a:hover {
  color: $maingrey;
}

.footer-icon img {
  height: 3rem;
  margin: 0 auto;
}

#footer-social-bar {
  margin-bottom: 1rem;
  display: none;
}


// STAGING SERVER BANNER CSS

/* The alert message box */
.alert {
   padding: 20px;
   background-color: #ff9800; /* orange */
   color: white;
}

/* The close button */
.closebtn {
   margin-left: 15px;
   color: white;
   font-weight: bold;
   float: right;
   font-size: 22px;
   line-height: 20px;
   cursor: pointer;
   transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
   color: black;
}
