@media all and (max-width: 950px) {

  .vertically-center-parent {
      position: initial;
  }
  .vertically-center-child {
    position: initial;
    top: initial;
    transform: initial;
  }

  .btn-container > form:first-child {
    margin: 2rem auto;
  }
  .btn-container > form:last-child {
    padding-right: 0;
  }

  .btn-form {
    display: block;
    margin: 0 auto;
  }

  .btn-form:first-child {
    margin-bottom: 3rem;
  }
}

@media all and (max-width: 800px) {

  .large-title {
    font-size: 2rem;
  }

  #latest-info, #latest-info .latest-info-container {
    display: block;
  }

  #latest-info .platform-section {
    display: block;
    border-right: none;
    padding: 0;
    min-width: 100%;
  }

  #latest-info .content-section {
    padding: 1rem 0 0;
  }

}
