$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;

main .intro {
  max-width: 40rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 1.8rem;
}

main .intro i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  transform: translateY(0.3rem);
}

main .intro a {
  text-decoration: none;
  color: $brighterblue;
}

main .intro a:hover {
  text-decoration: underline;
  color: $brighterblue;
}

#loading-index {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0.1rem);
}

.dl-container {
  margin: 0 auto;
  display: none;
}

a.dl-button {
  background-color: $brighterblue;
  color: $maingrey;
  border-radius: 0.2rem;
  width: 20rem;
  line-height: 5rem;
  font-size: 1.5rem;
  margin: 1.2rem 0.6rem 0 0.6rem;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.1s;
}

#dl-text {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

a.dl-button #dl-version {
  transform: translateY(-0.6rem);
}

a.dl-button .dl-description {
  font-size: .8rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-3.8rem);
}

a.dl-button:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey;
}

a.dl-thin-button {
  line-height: 2rem;
  font-size: 1rem;
  background-color: $accentgrey;
  color: $mainblue;
  display: block;
  margin: 1rem auto;
}

a.dl-thin-button:hover {
  background-color: #e6e6e6;
  color: $mainblue;
}

.dl-container select#variant-selector {
  margin-top: 1rem;
}

.home-links {
  padding: 0 1rem;
}

h2.transition-bright {
  color: #0085ff;
  transition-duration: 1s;
}

#minor-links {
  margin-top: 2rem;
}

#minor-links span {
  margin: 0 0.3rem;
  color: $accentgrey;
  font-size: 1.2rem;
}

#dl-latest {
  position: relative;
  z-index: 100;
}

#dl-latest span.tick {
  top: 0.3rem;
  right: -0.2rem;
  margin-right: 0.2rem;
  img {
    height: 1.2rem;
  }
}

@media all and (max-width: 300px) {
  #minor-links a {
    display: block;
    margin: 0.5rem 0;
  }

  #minor-links span {
    display: none;
  }
}

.recommender {
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
      display: inline;
  }
  li figure {
    display: inline-block;
  }
  li img {
      padding: 1rem;
      width:10rem; /* you can use % */
      height: auto;
  }

}

#dev-recommender{
  display: none;

  li img {
    width:5rem;
    height: auto;
  }
}
