/**** RESPONSIVE MASTER SETTINGS ****/

html {
    font: 16px "Open Sans", helvetica, sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4, button, input, optgroup, select, textarea {
  font-family: "Open Sans", helvetica, sans-serif;
  font-weight: 100;
}

@media all and (max-width: 800px) {
    html {
        font-size: 15px;
    }
}

@media all and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}
