$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;


// upstream CSS

table {
  margin: 0px auto;
}

.download {
  background-color: $accentgrey;
  padding: 0.5em;
  margin: 1em;
}
