// GLOBAL CSS
$mainblue: #152935;
$maingrey: #F5F5F5;
$palegrey: #e6e6e6;
$brighterblue: #3D70B2;
$accentgrey: #dadada;
$tableblue-odd: #182336;
$tableblue-even: #1F2F4E;
$translucent-blue: rgba(21, 41, 53, 0.05);
$headersize: 1.4rem;


.blue-bg {
  background-color: $mainblue !important;
  color: $maingrey !important;
}

.light-text {
  color: $maingrey;
}

.grey-bg {
  background-color: $maingrey;
  color: $mainblue;
}

.dark-link, .dark-link:visited, a, a:visited {
  color: $mainblue;
  cursor: pointer;
}

.dark-link:hover, a:hover {
  color: $brighterblue;
}

.light-link, .light-link:visited {
  color: $maingrey;
}

.light-link:hover {
  color: $brighterblue;
}

.blue-link-section a {
  text-decoration: none;
}

.blue-link-section a *, .blue-link-section a {
  color: $brighterblue;
  text-decoration: none;
}

.blue-link-section a *:hover, .blue-link-section a:hover {
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.no-underline {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.zero-margin {
  margin: 0;
}

.margin-auto {
  margin: 0 auto;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.large-title {
  font-size: 3rem;
  margin-top: 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.vertical-align-top {
  vertical-align: top;
}

.fully-center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertically-center-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vertically-center-parent {
  position: relative;
}

.social-icon {
  margin: 0 0.5rem;
}

.social-icon img {
  height: 2rem;
  margin: 0 auto;
  opacity: 0.5;
  transition-duration: 0.2s;
}

.social-icon img:hover {
  opacity: 1;
}

input {
  padding: 0.5rem;
  min-width: 12rem;
  margin-top: 1rem;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.animated.fadeIn {
  animation-duration: 0.3s;
}

var {
  font-style: normal;
}

// NAV CSS

nav {
  position: relative;
}

#logo {
  margin: 2.15rem auto;
  font-size: $headersize;
  display: table;
  cursor: pointer;
  color: $maingrey;
}

#logo div {
  display: table-cell;
  vertical-align: middle;
}

#logo img {
  width: 2rem;
  margin-right: 0.6rem;
  transform: translateY(0.1rem);
}

#header-social-bar {
  position: absolute;
  margin-right: 2rem;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

#menu-button {
  font-size: 2rem;
  color: $maingrey;
  position: absolute;
  margin-left: 2rem;
  cursor: pointer;
  line-height: 1;
  padding: 2rem 1rem;
  top: 50%;
  transform: translateY(-50%);
}

#menu-button:hover {
  color: $accentgrey;
}

#menu-container {
  position: fixed;
  background-color: $palegrey;
  z-index: 100;
  width: 90%;
  max-width: 16rem;
  padding: 0 2rem 2rem 2rem;
  top: 0;
  left: 0;
  height: 100%;
  animation-duration: 0.25s;
}

#menu-header {
  background-color: $maingrey;
  width: 20rem;
  transform: translateX(-2rem);
}

#menu-close {
  font-size: 2rem;
  padding: 1.98rem;
  display: block;
  text-align: center;
  cursor: pointer;
}

#menu-close:hover {
  color: $brighterblue;
}

#menu-content {
  overflow: auto;
  height: 80%;
  margin: 2rem 0;
}

#menu-content a {
  text-decoration: none;
  display: block;
  padding: .8rem 0;
}

#menu-content ul {
  margin: 0;
  padding: 0;
}

#menu-content li {
  border-bottom: 1px solid $accentgrey;
  margin: 0;
  line-height: 1.2rem;
  list-style: none;
}

#menu-content .submenu > a > .twisty {
  transition-duration: .3s;
  margin-right: 0.5rem;
  color: $brighterblue;
  float: left;
}

#menu-content .submenu > ul {
  display: none;
}

#menu-content .submenu > ul > li {
  padding-left: 1rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  border-top: 1px solid $accentgrey;
  border-bottom: none;
  background-color: rgba(255,255,255,.4);
}

#menu-content .submenu.open > ul {
  display: initial;
}

#menu-content .submenu.open > a > .twisty {
  transform: rotate(90deg);
}

#menu-social-bar {
  display: inline-block;
  filter: brightness(0);
  margin: 1rem auto;
}


// MAIN CSS

html, body {
    max-width: 100%;
    overflow-x: hidden;
    // height: 100%;     // removed to see if this fixes scrolling issue on iPhone
}

main {
  padding: 2rem 2rem 5rem 2rem;
  text-align: center;
}

.home-main {
  padding: 3rem 2rem 5rem 2rem;
}

#error-container {
  text-align: center;
  color: red;
}

.grey-button {
  background-color: $accentgrey;
  color: $mainblue !important;
  border-radius: 0.2rem;
  padding: 0 1.5rem;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.2rem;
}

.grey-button:hover {
  background-color: $palegrey;
  color: $mainblue !important;
}

.selected-grey {
  background-color: $palegrey;
  cursor: default;
}

.blue-button {
  background-color: $brighterblue;
  color: $maingrey !important;
  border-radius: 0.2rem;
  padding: 0 1.5rem;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.2rem;
}

.blue-button:hover {
  background-color: rgb(68, 124, 195);
  color: $maingrey !important;
}

.a-button {
  text-decoration: none;
}

#search-error {
  text-align: center;
  margin-top: 2rem;
}

.info-page-container {
  max-width: 50rem;
  margin: auto;
  text-align: left;
}

.info-page-container li {
  margin-top: 2rem;
  line-height: 1.8rem;
}

pre {
  display: flex;
  justify-content: space-between;
  background-color: $mainblue;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: $accentgrey;
  font-family: Consolas, monospace;
  overflow: auto;
  padding: 0.6rem;
  padding-left: 0;
  white-space: pre-wrap;
  line-height: 1rem;
}

code {
  overflow: auto;
  white-space: pre;
}

code.hljs {
  padding: 0;
  background: inherit;
  display: inline;
}

.copy-code-button, code.hljs {
  padding: 0.2rem 1rem;
}

.copy-code-button {
  display: inline-flex;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
}

.copy-code-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

span.hljs-keyword, span.hljs-selector-tag, span.hljs-literal, span.hljs-doctag, span.hljs-title, span.hljs-section, span.hljs-type, span.hljs-name, span.hljs-strong {
  font-weight: normal;
}

.callout {
  background-color: $translucent-blue;
  border-left: 0.5rem solid $mainblue;
  padding: 0.5rem 1rem;
}

// SELECT ELEMENT - REMOVING DEFAULT STYLING
select#variant-selector, select#platform-selector {
  // CHANGE FROM DISPLAY NONE TO DISPLAY BLOCK TO ACTIVATE VARIANT SELECTOR
  margin: auto;
  margin-top: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../assets/arrow-down.png) 90%/10% no-repeat white;
  border: 1px solid $accentgrey;
  padding: 0.5rem 1.5rem;
  padding-right: 3rem;
  border-radius: 10rem;
  cursor: pointer;
}

select#variant-selector {
  // CHANGE FROM DISPLAY NONE TO DISPLAY BLOCK TO ACTIVATE VARIANT SELECTOR
  display: none;
}

select#variant-selector:hover, select#platform-selector:hover {
  background-color: #eaebec;
}

select#variant-selector:focus, select#platform-selector:focus {
  outline:0;
}


select#variant-selector::-ms-expand, select#platform-selector::-ms-expand {
    display: none;
}

@media screen and (min-width:0\0) {
  select#variant-selector, select#platform-selector {
    background:none\9;
    padding: 5px\9;
  }
}
// END SELECT ELEMENT

/* TOOLTIP STYLING */
[data-tooltip] {
  display: inline-block;
  position: relative;
  cursor: default;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: $mainblue;
  color: $maingrey;
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
  white-space: nowrap;
  line-height: 1.2rem;
  text-align: center;
  border-radius: 0.4rem;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 80%;
  margin-top: 0.5rem;
}

[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  left: 50%;
  top: 80%;
  margin-top: 0.2rem;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: $mainblue;
  transform: translateX(-50%);
}

// FOOTER CSS

footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.7rem;
}

footer p {
  max-width: 20rem;
  margin: auto;
}

.footer-icon {
  margin: 0 1rem 1.5rem 1rem;
  transition-duration: 0.2s;
}

.footer-icon:hover {
  opacity: 0.7;
}

.footer-icon a:hover {
  color: $maingrey;
}

.footer-icon img {
  height: 3rem;
  margin: 0 auto;
}

#footer-social-bar {
  margin-bottom: 1rem;
  display: none;
}


// STAGING SERVER BANNER CSS

/* The alert message box */
.alert {
   padding: 20px;
   background-color: #ff9800; /* orange */
   color: white;
}

/* The close button */
.closebtn {
   margin-left: 15px;
   color: white;
   font-weight: bold;
   float: right;
   font-size: 22px;
   line-height: 20px;
   cursor: pointer;
   transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
   color: black;
}
