$mainblue: #152935;
$maingrey: #F5F5F5;
$brighterblue: #3D70B2;
$accentgrey: #dadada;

main.about p, main.about ul {
  max-width: 40rem;
  margin: 1rem auto;
  width: 80%;
  text-align: left;
  line-height: 1.8rem;
}

main.about a {
  text-decoration: none;
  color: $brighterblue;
}

main.about a:hover {
  text-decoration: underline;
  color: $brighterblue;
}
