name: Deploy to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches: [ master ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: master
        path: website
      
    - uses: actions/setup-node@v1
      with:
        node-version: '14'

    - name: Install Gulp CLI
      run: npm install -g gulp-cli

    - name: Build
      run: |
        cd website
        npm install
        gulp build

    - name: Create Directory Stucture
      run: |
        mkdir tmp
        mv website/sitemap.xml tmp/
        cd website
        find . -type f ! -name '*.html' ! -name '*.pdf' -maxdepth 1 -mindepth 1  -delete
        find . -type d -not -name 'dist' -not -name '.git' -maxdepth 1 -mindepth 1 -exec rm -rf {} \;
        # After this bulk-delete, copy across some other necessary files from the master branch:
        git checkout master -- NOTICE
        git checkout master -- LICENSE
        cp ../tmp/sitemap.xml .
        git checkout master -- robots.txt
        git checkout master -- CNAME
        echo "These files are ready to be moved onto the production web server:"
        ls

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      env:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./website
